<!DOCTYPE html>
<html lang="es">

<%- include("../partials/head.ejs") %>
<body class="body-ingreso">
    <main class="main-ingreso">
        <div class="difu">
            <div class="monsape">
                <p class="monsape-title">MONSAPE</p>
                <div class="logo-svg"><img src="../img/logomon.svg" alt="logo-svg"></div>
                <p class="welcome">TODOS SON BIENVENIDOS A NUESTRA MESA</p>
            </div>
            <div class="year">
                <p class="adn">AÑO DE NACIMIENTO:</p>
                
                <input type="text" name="año" id="año" placeholder="YYYY">
            </div>
            <div class="ingresar"><input type="submit" name="ingresar" id="ing" value="INGRESAR"></div>
    
        </div>
    </main>
</body>

</html>