<!DOCTYPE html>
<html lang="es">

<%- include("../partials/head") %>

<body>
    <!-- Header start here -->
    <%- include("../partials/header") %>
    <!--politicas de devolución-->
    <div class="politicas-de-devolucion">
        <h3>Políticas de devolución</h3>
        <p>
            El cliente tiene derecho a devolver los productos adquiridos en el plazo de 24h desde la fecha de recepción de los mismos por razones expresadas mas abajo. Los gastos directos de devolución correrán a cuenta del cliente (Portes de envío + portes de devolución).
        </p>
        <p>
            Los artículos deberán devolverse en perfecto estado, con todos sus accesorios, embalaje, etc. Una vez comprobado el perfecto estado del material devuelto, se procederá a su abono.
            Si el cliente recibe un producto/s con algún tipo defecto, deberá indicarlo en el plazo máximo de 24h., para proceder a su sustitución inmediata por otro igual. Todos los gastos de recogida y nueva entrega del producto corren a cargo de Bodega Monsape.
        </p>
        <p>
            Producto dañado en el transporte, si el cliente detecta alguna anomalia (golpes, paquetes abiertos, sonido vidrios roto, perdida liquido etc) en el bulto o bultos que reciba, NO debe recibir el pedido, todos nuestros paquetes viajan con un seguro valorado en el precio del mismo, pero es muy importante NO ACEPTARLO O RECIBIRLO en mal estado o de lo contrario tanto la empresa de transporte como Bodega Monsape no puede hacerse responsable del reenvío o reembolso del mismo, comunicarlo al servicio técnico (Whatsapp de la Bodega o bien correo electrónico) Si el cliente no comunca la incidencia a través de alguno de estos medios asumirá que el bulto le ha llegado en perfecto estado no aceptando Bodega Monsapeninguna reclamación posterior.
        </p>
        <strong>¿Cómo proceder ante una devolución?</strong>
        <p>
            Para poder proceder con una devolución deberá comunicarse por alguno de los medios expresados mas arriba indicando claramente: Datos de contacto: Nombre, Apellidos, Dirección y Teléfono. Nº de Pedido o Factura. Motivo de la devolución, indicando lo más cláramente posible la incidencia.
        </p>
        <p>
            Al recibir Bodega Monsapeestos datos, le confirmaremos una respuesta en un plazo mínimo de 24h. Le indicaremos también las instrucciones restantes para retirar o cambiar el producto.
        </p>
        <strong>DEVOLUCIONES DE DINERO</strong>
        <p>
            Sabemos que en ocasiones las cosas no salen como uno espera. Lo bueno es que la mayoría de las veces es posible volver atrás. Contáctate con nuestro centro de servicio al cliente (link al centro de contacto) de lunes a sábado 8am a 13pm y de 16pm a 20pm y te devolveremos el dinero a tu cuenta de Mercado Pago.
        </p>
        <strong>SI PAGAS CON TARJETA DE CRÉDITO:</strong>
        <p>
            Te devolveremos el pago y Mercado pago pedirá una anulación del cargo. Es posible que la veas reflejada en el resumen online de tu tarjeta de crédito unos días hábiles después.
        </p>
        <p>
            Ten en cuenta la fecha de cierre de tu tarjeta de crédito. Si la anulación del pago se hizo después del cierre, la verás reflejada en el resumen siguiente.
        </p>
        <p>
            Si pagaste en cuotas, ten en cuenta que cada tarjeta anula los cargos de manera diferente. Es común que devuelvan el dinero de la cuota ya cobrada y anulen las siguientes
        </p>
        <strong>SI PAGAS CON UN MEDIO DE PAGO EN EFECTIVO:</strong>
        <p>
            Apenas te devolvamos el pago, Mercado Pago dejará el dinero disponible en tu cuenta. 
        </p>
        <strong>SEGURIDAD EN TU COMPRA</strong>
        <strong>PRIVACIDAD ABSOLUTA</strong>
        <p>
            Mercado Pago protege la información en el trayecto que va de tu computadora, smartphone o tablet hasta su servidor. Encriptan los datos en forma segura (TLS) y así cumplen con los más altos estándares de seguridad online.
            PCI-DSS monitorea y certifica lo que hacen.
        </p>
        <p>
            Así que despreocúpate, nadie verá tus datos financieros. Solo nos llegará el pago y tu e-mail.
        </p>
        <strong>TRANQUILIDAD EN TUS COMPRAS</strong>
        <p>
            Mercado Pago se encarga de proteger tu dinero hasta que tengas tu compra.
        </p>
        <p>
            Cuando pagas, podemos ver el dinero en nuestra cuenta, pero tenemos que esperar para poder usarlo. Mercado Pago lo diseño así para que tengas tiempo de recibir el producto y evaluarlo.
        </p>
    </div>

    <%- include("../partials/footer") %>
</body>

</html>