<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <script src="https://kit.fontawesome.com/7968cc1663.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Rosarivo&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rosarivo&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="./stylesheets/styles.css">
</head>
<body class="home">
    <header class="home">
    <div class="modal-burger">
        <button onclick="openModal()">
            <div class="burger">
                <img src="./img/Vector.svg" alt="">
        </button>
    </div>
    </div>
    <div class="modal" id="modalAdd">
        <div class="modal-conteiner">
            <div class="close-modal" onclick="closeModal()">X</div>
            <!-- <div class="logo-interno"><img src="./img/logomon.svg" alt=""></div> -->
            <a href="#">INICIO</a>
            <a href="#">PRODUCTOS</a>
            <a href="#">COMO COMPRAR</a>
            <a href="#">QUIENES SOMOS</a>
            <a href="#">INICIAR SESION</a>
            <a href="#">REGISTRATE</a>
            <!-- <button onclick="closeModal()">Cancelar</button> -->
        </div>
    </div>
    <script src="./javascripts/detail.js"></script>
    <!-- FIN VENTANA MODAL MOBILE -->
    <div class="logo-home">
        <h1>MONSAPE</h1>
    </div>
    <div class="carrito-home">
        <img src="./img/carrito-de-compras (1) 1.svg" alt="">
    </div>
</header>
    <main class="home">
        <div class="texto-home">
            <img src="./img/logomon.svg" alt="">
            <h1>Soñamos el tiempo y lo encontramos. Tenemos historia y tradición, pero sobre todo, futuro.</h1>
        </div>
        <div class="supuesto-slider">
          <img src="./img/ComiteWines-Foto-_MISEREREOK-IMG_5115 5.png" alt=""> 
        </div>
        <div class="linkeables">
        <div id="box1">
           <img src="./img/MOBILE1.svg" alt="">
           <h2>SOBRE NOSOTROS</h2>
        </div>
        <div id="box2">
           <img src="./img/MOBILE2.svg" alt="">
           <h2>TIENDA OFICIAL</h2>
        </div>
        </div>
        <div class="vacaciones">
          <h3>VACIONES EN MONSAPE</h3>
          <button>Mas información</button>
        </div>
    </main>
    <footer>

    </footer>
</body>

</html>