<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <script src="https://kit.fontawesome.com/7968cc1663.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Rosarivo&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rosarivo&display=swap" rel="stylesheet">
    <!-- Javascript -->
    <script src="./javascripts/detail.js" defer></script>
    <script src="./javascripts/detail2.js" defer></script>

    <link rel="stylesheet" href="./stylesheets/styles.css">
</head>

<body class="body-productDetail">
    <!-- Header start here -->
    <header>
        <!-- VENTANA MODAL MOBILE -->
        <div class="modal-burger">
            <button onclick="openModal()">
                <div class="burger">
                    <img src="./img/Vector.svg" alt="">
            </button>
        </div>
        </div>
        <div class="modal" id="modalAdd">
            <div class="modal-conteiner">
                <div class="close-modal" onclick="closeModal()">X</div>
                <!-- <div class="logo-interno"><img src="./img/logomon.svg" alt=""></div> -->
                <a href="/home">INICIO</a>
                <a href="#">PRODUCTOS</a>
                <a href="#">COMO COMPRAR</a>
                <a href="#">QUIENES SOMOS</a>
                <a href="#">INICIAR SESION</a>
                <a href="/views/register.html">REGISTRATE</a>
                <!-- <button onclick="closeModal()">Cancelar</button> -->
            </div>
        </div>
        <!-- FIN VENTANA MODAL MOBILE -->
        <!-- Lupa para desktop -->
        <div class="buscador">
            <input type="text" placeholder="Buscador" class="buscador">
            <img src="./img/lupa.svg" alt="">
        </div>
        <!-- ------------------------- -->
        <!-- titulo y logo -->
        <div class="logo">
            <h1>MONSAPE</h1>
            <img src="./img/logomon.svg" alt="">
        </div>
        <!-- ------------------- -->
        <!-- anclas de desktop -->
        <div class="anclas">
            <!--  -----------------MODAL DESKTOP------------- -->
            <button onclick="openModal2()">Ingresar</button>
            <div class="modal2" id="modalAdd2">
                <div class="modal-container2">
                    <div class="close-modal2" onclick="closeModal2()">X</div>
                    <h1>INICIAR SESION</h1>
                    <label for="email">Ingrese su correo electronico:</label>
                    <input type="email" name="tel" id="email">
                    <label for="password">Ingrese su contraseña:</label>
                    <input type="password" name="password" id="password">
                    <p>¿Aún no tienes cuenta? <a href="/register">REGISTRATE</a> </p>
                    <button>INICIAR SESION</button>
                </div>
            </div>
            <!--        ------------------ MODAL DESKTOP ENDS------------>
            <a href="/register"><button>Registrarse</button></a>
            <a href="/productCart"><img src="./img/carrito-de-compras (1) 1.svg" alt="carrito"></a>
            <!--  -------------- -->
        </div>
    </header>
    <!-- nav de mobile -->
    <nav class="header-nav">
        <div class="search-mobile">
            <form action="/">
                <input type="search" placeholder="Buscador" class="search">
                <button><img src="./img/lupa.svg" alt=""></button>
            </form>
        </div>
        <div class="product-nav">
            <h3>PRODUCTOS</h3><i class="fas fa-chevron-down"></i>
        </div>
    </nav>
    <nav class="desktop-nav">
        <a href="#">INICIO</a>
        <a href="#">PRODUCTOS</a>
        <a href="#">COMO COMPRAR</a>
        <a href="#">QUIENES SOMOS</a>
        <a href="#">POLITICA DE DEVOLUCION</a>
        <a href="#">CONTACTO</a>
    </nav>
    <main class="main-productDetail">

        <div class="galeria">

        </div>


        <div class="img-cuerpo-detail">
            <img id="img-carrito2" src="/img/carrito2.jpg" alt="Vino">
            <div class="cuerpo-detail">
                <h4 id="nth">Ernesto Catena - Almanegra Tinto (misterio) - Blend</h4>
                <div class="detalle" id="nth">
                    <ul>
                        <li>Graduación alcohólica: 13,7%.</li>
                        <li>Presenta un color cereza casi púrpura, de capa media alta.</li>
                        <li>Maduración en barricas de 100% Roble Francés y 40% Roble Nuevo.</li>
                        <li>Presencia de aromas a frutilla, cerezas y membrillos, con notas de vainilla, madera tostada
                            y
                            especias.</li>
                    </ul>
                </div>
                <!-- Botones para regular la cantidad de unidades de producto a adquirir -->
                <div class="cant-precio-detail" id="nth">
                    <p class="precio">$2.700</p>
                    <div class="cant">
                        <input type="button" name="menos" id="buttons" class="menos" value="-">
                        <input type="text" name="cantidad" id="cantidad" class="cantidad" value="0">
                        <input type="button" name="mas" id="buttons" class="mas" value="+">
                    </div>

                </div>

                <div class="botones" id="nth">
                    <div class="cart-cost">
                        <input type="button" name="agregar" id="agregar" value="Agregar al carrito">
                        <input type="button" name="costo-envio" id="costo-envio" value="Costo de envío">
                    </div>
                    <input type="submit" name="confirmar" id="confirmar" value="Confirmar">
                </div>
            </div>
        </div>
        <input type="submit" name="confirmar" id="confirmar-2" value="Confirmar">
    </main>

    <footer>
        <div class="footer-description">
            <p>© 2021. Bodegas Monsape - Mendoza, Argentina.</p>
            <p>Beber con moderación. Prohibida su venta a menores de 18 años.</p>
        </div>
        <div class="social-media-icons">
            <img src="./img/facebook.svg" alt="icono de facebook">
            <img src="./img/instagram.svg" alt="icono de instagram">
            <img src="./img/pinterest.svg" alt="icono de pinterest">
        </div>
    </footer>
</body>

</html>