<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <script src="https://kit.fontawesome.com/7968cc1663.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Rosarivo&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rosarivo&display=swap" rel="stylesheet">
   
    <link rel="stylesheet" href="./stylesheets/styles.css">
</head>
<body>
    <!-- Header start here -->
    <header>
        <!-- VENTANA MODAL MOBILE -->
        <div class="modal-burger">
        <button onclick="openModal()"><div class="burger">
        <img src="./img/Vector.svg" alt=""></button>
        </div>
        </div>
        <div class="modal" id="modalAdd">
            <div class="modal-conteiner">
                <div class="close-modal" onclick="closeModal()">X</div>
                <a href="#">INICIO</a>
                <a href="#">PRODUCTOS</a>
                <a href="#">COMO COMPRAR</a>
                <a href="#">QUIENES SOMOS</a>
                <a href="#">POLITICA DE DEVOLUCION</a>
                <a href="#">CONTACTO</a>
                <!-- <button onclick="closeModal()">Cancelar</button> -->
            </div>
        </div>
        <script src="./javascripts/detail.js"></script>
        
        <!-- FIN VENTANA MODAL MOBILE -->
        <!-- Lupa para desktop -->
        <div class="buscador">
            <input type="text" placeholder="Buscador" class="buscador">
            <img src="./img/lupa.svg" alt="">
        </div>
        <!-- ------------------------- -->
        <!-- titulo y logo -->
        <div class="logo">
        <h1>MONSAPE</h1>
        <img src="./img/logomon.svg" alt="">
        </div>
        <!-- ------------------- -->
        <!-- anclas de desktop -->
        <div class="anclas">
            <button>Ingresar</button>
            <button>Registrarse</button>            
            <img src="./img/carrito-de-compras (1) 1.svg" alt="">
           <!--  -------------- -->
        </div>        
    </header>
    <!-- nav de mobile -->
    <nav class="header-nav">
            <div class="search-mobile">
               <form action="/">
                <input type="search" placeholder="Buscador" class="search" ><button><img src="./img/lupa.svg" alt=""></button>
            </form>
            </div>
            <div class="product-nav">
                 <h3>PRODUCTOS</h3><i class="fas fa-chevron-down"></i>
            </div>
    </nav>
    <nav class="desktop-nav">
        <a href="#">INICIO</a>
        <a href="#">PRODUCTOS</a>
        <a href="#">COMO COMPRAR</a>
        <a href="#">QUIENES SOMOS</a>
        <a href="#">POLITICA DE DEVOLUCION</a>
        <a href="#">CONTACTO</a>
    </nav>
    <main class="main-register">
        <!--REGISTRO-->    
        <div class="form-container">
            <h2>Registro</h2>
            <hr>
            <form action="" method="">
                <div class="form">
                    <div class="input-container">
                        <label for="email">Dirección de Correo Electrónico:</label>
                        <input class="input-style" type="email" name="email">
                        <span class="error-message">Debe ingresar su email</span>
                    </div>
                    <div class="input-container">
                        <label for="password">Contraseña:</label>
                        <input class="input-style" type="password" name="password">
                        <span class="error-message">Debe ingresar su contraseña</span>
                    </div>
                    <div class="input-container">
                        <label for="password2">Repetir contraseña:</label>
                        <input class="input-style" type="password" name="password2">
                        <span class="error-message">Debe re-ingresar su contraseña</span>
                    </div>
                    <div class="input-container">
                        <label for="nombreCompleto">Nombre y apellido:</label>
                        <input class="input-style" type="text" name="nombreCompleto">
                        <span class="error-message">Debe ingresar su nombre y apellido</span>
                    </div>
                    <div class="check">
                        <label for="terms">  Aceptar <a href="">términos y condiciones</a> </label>
                        <input type="checkbox" name="terms" id="recordar">
                        <span class="error-message">Debe aceptar los términos y condiciones</span>
                    </div>
                    <div class="button-container">
                        <span class="error-message">Credenciales inválidas</span>
                        <button type="submit" class="btn btn-submit">Registrarse</button>
                    </div> 
                    <span>¿Ya tenés una cuenta? <a href="login.html">iniciá sesión</a></span>
                </div>
            </form>
        </div>
    </main>
    
    <footer>
        <div class="footer-description">
            <p>© 2021. Bodegas Monsape - Mendoza, Argentina.</p>
            <p>Beber con moderación. Prohibida su venta a menores de 18 años.</p>            
        </div>
        <div class="social-media-icons">
            <img src="./img/facebook.svg" alt="icono de facebook">
            <img src="./img/instagram.svg" alt="icono de instagram">
            <img src="./img/pinterest.svg" alt="icono de pinterest">
        </div>
    </footer>
</body>
</html>
