<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda</title>
    <script src="https://kit.fontawesome.com/7968cc1663.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Rosarivo&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rosarivo&display=swap" rel="stylesheet">
   
    <link rel="stylesheet" href="./stylesheets/styles.css">
    <script src="/javascripts/carouselTienda1.js" defer></script>
    <script src="/javascripts/carouselTienda2.js" defer></script>
</head>
<body class="body-tienda">
    <!-- Header start here -->
    <header>
        <!-- VENTANA MODAL MOBILE -->
        <div class="modal-burger">
        <button onclick="openModal()"><div class="burger">
        <img src="./img/Vector.svg" alt=""></button>
        </div>
        </div>
        <div class="modal" id="modalAdd">
            <div class="modal-conteiner">
                <div class="close-modal" onclick="closeModal()">X</div>
                <a href="#">INICIO</a>
                <a href="#">PRODUCTOS</a>
                <a href="#">COMO COMPRAR</a>
                <a href="#">QUIENES SOMOS</a>
                <a href="#">POLITICA DE DEVOLUCION</a>
                <a href="#">CONTACTO</a>
                <!-- <button onclick="closeModal()">Cancelar</button> -->
            </div>
        </div>
        <script src="./javascripts/detail.js"></script>
        
        <!-- FIN VENTANA MODAL MOBILE -->
        <!-- Lupa para desktop -->
        <div class="buscador">
            <input type="text" placeholder="Buscador" class="buscador">
            <img src="./img/lupa.svg" alt="">
        </div>
        <!-- ------------------------- -->
        <!-- titulo y logo -->
        <div class="logo">
        <h1>MONSAPE</h1>
        <img src="./img/logomon.svg" alt="">
        </div>
        <!-- ------------------- -->
        <!-- anclas de desktop -->
        <div class="anclas">
            <button>Ingresar</button>
            <button>Registrarse</button>            
            <img src="./img/carrito-de-compras (1) 1.svg" alt="">
           <!--  -------------- -->
        </div>        
    </header>
    <!-- nav de mobile -->
    <nav class="header-nav">
            <div class="search-mobile">
               <form action="/">
                <input type="search" placeholder="Buscador" class="search" ><button><img src="./img/lupa.svg" alt=""></button>
            </form>
            </div>
            <div class="product-nav">
                 <h3>PRODUCTOS</h3><i class="fas fa-chevron-down"></i>
            </div>
    </nav>
    <!--nav de desktop-->
    <nav class="desktop-nav">
        <a href="#">INICIO</a>
        <a href="#">PRODUCTOS</a>
        <a href="#">COMO COMPRAR</a>
        <a href="#">QUIENES SOMOS</a>
        <a href="#">POLITICA DE DEVOLUCION</a>
        <a href="#">CONTACTO</a>
    </nav> 
    
    <!-- CAROUSEL -->

    <section class="carousel-container">
        
        <div class="slides fade">
            <img src="/img/banners/banner1.jpg" alt="">            
        </div>
        
        <div class="slides fade">
            <img src="/img/banners/banner2.jpg" alt="">
        </div>
        
        <div class="slides fade">
            <img src="/img/banners/banner3.jpg" alt="">
        </div>
        
        <div class="slides fade">
            <img src="/img/banners/banner4.jpg" alt="">
        </div>

        <!-- Next and previous buttons -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
        
    </section>

    <!-- The dots/circles -->
    <div class="dots">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>
    </div>
    <!--frase-->
    <div class="frase">
        <h4>VINO PARA QUEDARSE</h4>
        <P>Bienvenidos a nuestra tienda. Estamos orgullosos de ofrecerle una amplia selección de los mejores vinos argentinos.</P>
        <!--linea horizontal-->
        <hr>
    </div>    
    <!--Filtro de productos-->
    <div class="filtro-de-productos">
        <span>Ordenar por: </span>
        <select>        
            <option value="mas-vendidos" selected>Más Vendidos</option>
            <option value="precio-menor">Precio: Menor a Mayor</option>
            <option value="precio-mayor">Precio: Mayor a Menor</option>
            <option value="a-z">A - Z</option>
            <option value="z-a">Z - A</option>
            <option value="mas-nuevo">Más Nuevo al más Viejo</option>
            <option value="mas-viejo">Más Viejo al más Nuevo</option>
        </select>
    </div>
    <!--MAIN-->
    <main class="main-tienda">
        <!--categorias de productos-->
        <div class="categorias-principales">
            <h5>Categorias principales</h5>
            <ul>
                <li>Tintos</li>
                <li>Blancos</li>
                <li>Espumantes</li>
                <li>Gift Card</li>
                <li>Rosado</li>
                <li>Box</li>
                <li>Merchandising oficial</li>
            </ul>
        </div>
        <section class="products">
            <article class="product-container">
                <img class="imagen-producto" src="./img/almanegra.jpg" alt="vino almanegra">
                <div class="descuento-porcentaje">
                    <p>20% OFF</p>
                </div>
                <div class="caja-de-vino">
                    <img class="caja" src="./img/tienda/box.svg" alt="caja de vino">
                    <img class="cantidad-vinos" src="./img/tienda/6.svg" alt="cantidad de vinos en una caja">
                </div>
                <div class="descripcion-producto">
                    <p class="precio-por-caja">Precio caja x6  botellas</p>
                    <h4 class="nombre-producto">Monsape Premium Malvec 2018</h4>
                </div>
                <div class="descuento-y-precio">
                    <span class="descuento">$4000.00</span>
                    <span class="precio">$3200.00</span>
                </div>
                <button class="agregar-producto-al-carrito">Agregar</button>
            </article>
            <article class="product-container">
                <img class="imagen-producto" src="./img/carrito1.jpg" alt="vino almanegra">
                <div class="descuento-porcentaje">
                    <p>20% OFF</p>
                </div>
                <div class="caja-de-vino">
                    <img class="caja" src="./img/tienda/box.svg" alt="caja de vino">
                    <img class="cantidad-vinos" src="./img/tienda/6.svg" alt="cantidad de vinos en una caja">
                </div>
                <div class="descripcion-producto">
                    <p class="precio-por-caja">Precio caja x6  botellas</p>
                    <h4 class="nombre-producto">Monsape Premium Malvec 2018</h4>
                </div>
                <div class="descuento-y-precio">
                    <span class="descuento">$4000.00</span>
                    <span class="precio">$3200.00</span>
                </div>
                <button class="agregar-producto-al-carrito">Agregar</button>
            </article>
            <article class="product-container">
                <img class="imagen-producto" src="./img/carrito2.jpg" alt="vino almanegra">
                <div class="descuento-porcentaje">
                    <p>20% OFF</p>
                </div>
                <div class="caja-de-vino">
                    <img class="caja" src="./img/tienda/box.svg" alt="caja de vino">
                    <img class="cantidad-vinos" src="./img/tienda/6.svg" alt="cantidad de vinos en una caja">
                </div>
                <div class="descripcion-producto">
                    <p class="precio-por-caja">Precio caja x6  botellas</p>
                    <h4 class="nombre-producto">Monsape Premium Malvec 2018</h4>
                </div>
                <div class="descuento-y-precio">
                    <span class="descuento">$4000.00</span>
                    <span class="precio">$3200.00</span>
                </div>
                <button class="agregar-producto-al-carrito">Agregar</button>
            </article>
            <article class="product-container">
                <img class="imagen-producto" src="./img/carrito3.jpg" alt="vino almanegra">
                <div class="descuento-porcentaje">
                    <p>20% OFF</p>
                </div>
                <div class="caja-de-vino">
                    <img class="caja" src="./img/tienda/box.svg" alt="caja de vino">
                    <img class="cantidad-vinos" src="./img/tienda/6.svg" alt="cantidad de vinos en una caja">
                </div>
                <div class="descripcion-producto">
                    <p class="precio-por-caja">Precio caja x6  botellas</p>
                    <h4 class="nombre-producto">Monsape Premium Malvec 2018</h4>
                </div>
                <div class="descuento-y-precio">
                    <span class="descuento">$4000.00</span>
                    <span class="precio">$3200.00</span>
                </div>
                <button class="agregar-producto-al-carrito">Agregar</button>
            </article>
            <article class="product-container">
                <img class="imagen-producto" src="./img/carrito4.jpg" alt="vino almanegra">
                <div class="descuento-porcentaje">
                    <p>20% OFF</p>
                </div>
                <div class="caja-de-vino">
                    <img class="caja" src="./img/tienda/box.svg" alt="caja de vino">
                    <img class="cantidad-vinos" src="./img/tienda/6.svg" alt="cantidad de vinos en una caja">
                </div>
                <div class="descripcion-producto">
                    <p class="precio-por-caja">Precio caja x6  botellas</p>
                    <h4 class="nombre-producto">Monsape Premium Malvec 2018</h4>
                </div>
                <div class="descuento-y-precio">
                    <span class="descuento">$4000.00</span>
                    <span class="precio">$3200.00</span>
                </div>
                <button class="agregar-producto-al-carrito">Agregar</button>
            </article>
            <article class="product-container">
                <img class="imagen-producto" src="./img/carrito5.jpg" alt="vino almanegra">
                <div class="descuento-porcentaje">
                    <p>20% OFF</p>
                </div>
                <div class="caja-de-vino">
                    <img class="caja" src="./img/tienda/box.svg" alt="caja de vino">
                    <img class="cantidad-vinos" src="./img/tienda/6.svg" alt="cantidad de vinos en una caja">
                </div>
                <div class="descripcion-producto">
                    <p class="precio-por-caja">Precio caja x6  botellas</p>
                    <h4 class="nombre-producto">Monsape Premium Malvec 2018</h4>
                </div>
                <div class="descuento-y-precio">
                    <span class="descuento">$4000.00</span>
                    <span class="precio">$3200.00</span>
                </div>
                <button class="agregar-producto-al-carrito">Agregar</button>
            </article>
            <article class="product-container">
                <img class="imagen-producto" src="./img/carrito6.jpg" alt="vino almanegra">
                <div class="descuento-porcentaje">
                    <p>20% OFF</p>
                </div>
                <div class="caja-de-vino">
                    <img class="caja" src="./img/tienda/box.svg" alt="caja de vino">
                    <img class="cantidad-vinos" src="./img/tienda/6.svg" alt="cantidad de vinos en una caja">
                </div>
                <div class="descripcion-producto">
                    <p class="precio-por-caja">Precio caja x6  botellas</p>
                    <h4 class="nombre-producto">Monsape Premium Malvec 2018</h4>
                </div>
                <div class="descuento-y-precio">
                    <span class="descuento">$4000.00</span>
                    <span class="precio">$3200.00</span>
                </div>
                <button class="agregar-producto-al-carrito">Agregar</button>
            </article>
            <article class="product-container">
                <img class="imagen-producto" src="./img/carrito7.jpg" alt="vino almanegra">
                <div class="descuento-porcentaje">
                    <p>20% OFF</p>
                </div>
                <div class="caja-de-vino">
                    <img class="caja" src="./img/tienda/box.svg" alt="caja de vino">
                    <img class="cantidad-vinos" src="./img/tienda/6.svg" alt="cantidad de vinos en una caja">
                </div>
                <div class="descripcion-producto">
                    <p class="precio-por-caja">Precio caja x6  botellas</p>
                    <h4 class="nombre-producto">Monsape Premium Malvec 2018</h4>
                </div>
                <div class="descuento-y-precio">
                    <span class="descuento">$4000.00</span>
                    <span class="precio">$3200.00</span>
                </div>
                <button class="agregar-producto-al-carrito">Agregar</button>
            </article>
            <article class="product-container">
                <img class="imagen-producto" src="./img/carrito8.jpg" alt="vino almanegra">
                <div class="descuento-porcentaje">
                    <p>20% OFF</p>
                </div>
                <div class="caja-de-vino">
                    <img class="caja" src="./img/tienda/box.svg" alt="caja de vino">
                    <img class="cantidad-vinos" src="./img/tienda/6.svg" alt="cantidad de vinos en una caja">
                </div>
                <div class="descripcion-producto">
                    <p class="precio-por-caja">Precio caja x6  botellas</p>
                    <h4 class="nombre-producto">Monsape Premium Malvec 2018</h4>
                </div>
                <div class="descuento-y-precio">
                    <span class="descuento">$4000.00</span>
                    <span class="precio">$3200.00</span>
                </div>
                <button class="agregar-producto-al-carrito">Agregar</button>
            </article>
            <article class="product-container">
                <img class="imagen-producto" src="./img/carrito9.jpg" alt="vino almanegra">
                <div class="descuento-porcentaje">
                    <p>20% OFF</p>
                </div>
                <div class="caja-de-vino">
                    <img class="caja" src="./img/tienda/box.svg" alt="caja de vino">
                    <img class="cantidad-vinos" src="./img/tienda/6.svg" alt="cantidad de vinos en una caja">
                </div>
                <div class="descripcion-producto">
                    <p class="precio-por-caja">Precio caja x6  botellas</p>
                    <h4 class="nombre-producto">Monsape Premium Malvec 2018</h4>
                </div>
                <div class="descuento-y-precio">
                    <span class="descuento">$4000.00</span>
                    <span class="precio">$3200.00</span>
                </div>
                <button class="agregar-producto-al-carrito">Agregar</button>
            </article>
            <article class="product-container">
                <img class="imagen-producto" src="./img/carrito10-jpg.jpg" alt="vino almanegra">
                <div class="descuento-porcentaje">
                    <p>20% OFF</p>
                </div>
                <div class="caja-de-vino">
                    <img class="caja" src="./img/tienda/box.svg" alt="caja de vino">
                    <img class="cantidad-vinos" src="./img/tienda/6.svg" alt="cantidad de vinos en una caja">
                </div>
                <div class="descripcion-producto">
                    <p class="precio-por-caja">Precio caja x6  botellas</p>
                    <h4 class="nombre-producto">Monsape Premium Malvec 2018</h4>
                </div>
                <div class="descuento-y-precio">
                    <span class="descuento">$4000.00</span>
                    <span class="precio">$3200.00</span>
                </div>
                <button class="agregar-producto-al-carrito">Agregar</button>
            </article>
        </section>
    </main>

    <!--lo que ofrece Monsape-->
    <div class="monsape-ofrece">
        <div class="envio">
            <p>ENVIO GRATIS A TODO EL PAIS</p>
            <div class="camion">
                <img src="./img/tienda/camion-de-reparto.svg" alt="camión de reparto">                
            </div>
        </div>
        <div class="tarjetas-credito">
            <p>PAGÁ CON TARJETA DE CREDITO</p>
            <div class="tarjetas">
                <img src="./img/tienda/visa.svg" alt="tarjeta de credito Visa">
                <img src="./img/tienda/maestro.svg" alt="tarjeta de credito Maestro">
                <img src="./img/tienda/paypal.svg" alt="tarjeta con Paypal">
            </div>
        </div>        
        <div class="satisfaccion">
            <p>SATISFACCIÓN GARANTIZADA</p>
            <div class="copa-con-vino">
                <img src="./img/tienda/copa-con-vino.svg" alt="copa con vino">
            </div>
        </div>
    </div>
    <!--banner 2 mobile-->
    <section class="carousel-container1">
        
        <div class="slides1 fade1">
            <div class="envio">
                <p>ENVIO GRATIS A TODO EL PAIS</p>
                <div class="camion">
                    <img src="./img/tienda/camion-de-reparto.svg" alt="camión de reparto">                
                </div>
            </div>        
        </div>
        
        <div class="slides1 fade1">
            <div class="tarjetas-credito">
                <p>PAGÁ CON TARJETA DE CREDITO</p>
                <div class="tarjetas">
                    <img src="./img/tienda/visa.svg" alt="tarjeta de credito Visa">
                    <img src="./img/tienda/maestro.svg" alt="tarjeta de credito Maestro">
                    <img src="./img/tienda/paypal.svg" alt="tarjeta con Paypal">
                </div>
            </div>
        </div>
        
        <div class="slides1 fade1">
            <div class="satisfaccion">
                <p>SATISFACCIÓN GARANTIZADA</p>
                <div class="copa-con-vino">
                    <img src="./img/tienda/copa-con-vino.svg" alt="copa con vino">
                </div>
            </div>
        </div>
        
    </section>

    <!-- The dots/circles -->
    <div class="dots1">
        <span class="dot1" onclick="currentSlides1(1)"></span>
        <span class="dot1" onclick="currentSlides1(2)"></span>
        <span class="dot1" onclick="currentSlides1(3)"></span>        
    </div>
         
    <!--FOOTER-->
    <footer>
        <div class="footer-description">
            <p>© 2021. Bodegas Monsape - Mendoza, Argentina.</p>
            <p>Beber con moderación. Prohibida su venta a menores de 18 años.</p>            
        </div>
        <div class="social-media-icons">
            <img src="./img/facebook.svg" alt="icono de facebook">
            <img src="./img/instagram.svg" alt="icono de instagram">
            <img src="./img/pinterest.svg" alt="icono de pinterest">
        </div>
    </footer>
</body>
</html>