main.about .about-1 img{
width: 100%;
top: 15px;
position: relative;
}
body{
    background-color: gainsboro;
}
main.about .about-1 {
    background-color: gainsboro;
   
   
}
main.about .about-1 h1{
    top: 141px;
    position: absolute;
    text-align: center;
    width: 40%;
    height: 9%;
    color: white;
    font-size: 23px;
    background-color:rgba(229, 229, 229, 0.5)
}
main.about .about-text p{
    margin: 15px 10px 10px 10px;
    text-align: center;
}
section.about-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    
}

.a-box {
    display: inline-block;
    width: 240px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .img-container {
      height: 230px;
      width: 200px;
      overflow: hidden;
      border-radius: 0px 0px 20px 20px;
      display: inline-block;
  }
  
  .img-container img {
      transform: skew(0deg, -13deg);
      height: 250px;
      margin: -35px 0px 0px -70px;
  }
  
  .inner-skew {
      display: inline-block;
      border-radius: 20px;
      overflow: hidden;
      padding: 0px;
      transform: skew(0deg, 13deg);
      font-size: 0px;
      margin: 30px 0px 0px 0px;
      background: #c8c2c2;
      height: 250px;
      width: 200px;
  }
  
  .text-container {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    padding: 120px 20px 20px 20px;
    border-radius: 20px;
    background: #fff;
    margin: -120px 0px 0px 0px;
    line-height: 19px;
    font-size: 14px;
  }
  
  .text-container h3 {
    margin: 20px 0px 10px 0px;
    color: #56070C;
    font-size: 18px;
  }

/* Querys */
 @media(min-width: 510px) {
    main.about .about-1 h1{
        top: 153px;
        width: 40%;
        height: 11%;
        font-size: 31px;
    }
    .a-box{
        width: 75%;
    }
}
@media(min-width: 700px){
    main.about .about-1 h1{
        top: 31%;
        font-size: 2rem;
        color: white;
        height: auto;
        width: 55%;
    }
    main.about .about-text p{
        font-size: 24px;
    }

    section.about-container{
        display: flex;
        flex-direction: inherit;
        
    }
    .text-container {
        font-size: 18px;
        line-height: 25px;
    }
    /* section.about-container .a-box{
        margin: 10px 10px 10px 10px;
    } */
}
@media(min-width: 1000px){
    main.about .about-1 img{
        margin-top: -16px;
    }
    main.about section.about-container{
        align-items: center;
      /*   margin-right: -115px; */
    }
    .text-container {
        height: 455px;
        width: 355px;
    }
    main.about .about-container #aime{
        margin-left: 10px;
    }

}