p.bodega{
    text-align: center;
    width: 100%;
    font-size: 45px;
    font-family: 'Rosarivo', serif;
    font-weight: 200;
    font-size:31px;
    
    
    }
    main.about .first-cont{
        background-image: url('../img/uverta\ 1.png');
        height: 355px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 34rem;
        background-attachment: fixed;
        margin-top: -1px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    main.about .first-cont h1{
        background-color: rgba(1, 1, 1, 0.4);
        border: 1px solid white;
        padding: 20px;
        color: white;
        text-align: center;
        font-size: 22px;
    }
    main.about .second{
       display: grid;
       grid-template-columns: 1fr 1fr;
    }
    main.about .second .us{
        margin-top: 0;
    }

    /* main.about .second .infoS{
    position: absolute;
    color: white;
    bottom: 12rem;
    
    } */