/*Search Users*/
/*search*/
.search-admin2{
    width: 300px;
    height: 60px;
    margin: 10px auto;
}
.input-search-admin2{
    width: 280px;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 4px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
}
.filter-users-admin2{
    display: none;
}

/*Main Users*/
main.main-admin-users{
    background-color: var(--color-grisBotones);
    border-radius: 10px;
    margin: 10px;
    font-size: 10px;
}
/*Titulo*/
div.title{    
    background-color: var(--color-grisOscuro);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 4px 2px;
}
div.title h1{
    align-self: center;
}

/*Tabla de Usuarios*/
table.table-users{
    padding: 2px;
    width: 99%;
}

/*Categorias de la tabla*/
tr.category{
    background-color: var(--color-rojoVino);
}
tr.category th{    
    border-radius: 2px;
    color: white;
    font-weight: bolder;
    font-size: 13px;
    padding: 4px;
}
/*categorias*/
tr.category th.date,
tr.users td.date,
tr.category th.rol,
tr.users td.rol{
    display: none;
}

/*usuarios*/
tr.users{
    text-align: center;
}
tr.users td{
    padding: 4px;    
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
}

tr.users:nth-child(odd){
    background-color: rgb(155, 114, 114)
}

/*Botones de opción*/
td.btn-options{
    display: flex;
    flex-direction: column;
}

.btn-options img{
    width: 18px;
}
a.btn-edit{
    background-color: rgb(124, 216, 136);
    padding: 6px;
    border: 1px solid green;
    border-radius: 4px;    
    margin-bottom: 2px;
}

/*********************************************************************************************************/

/*Media Querie*/
@media(min-width: 400px){

main.main-admin-users{
    font-size: 12px;
}

/*Botones de opción*/
td.btn-options{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.btn-options img{
    width: 24px;
}
a.btn-edit{
    margin-right: 2px;
}
}



/*tablet*/
@media(min-width: 776px){
    /*Main*/
main.main-admin-users{
    border-radius: 10px;
    margin: 10px;
    font-size: 16px;
}
/*Titulo*/
div.title{
    background-color: var(--color-grisOscuro);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 4px 4px;
}

/*Tabla de usuarios*/
table.table-users{
    padding: 4px;
    width: 98%;
    margin-left: 14px;
}

/*Categorias de la tabla*/

tr.category th{
    font-size: 1.2rem;
    padding: 4px;
}
    
tr.category th.date,
tr.users td.date,
tr.category th.rol,
tr.users td.rol{
    display: table-cell;
}
}