h1.titulo-carru{
    align-items: center;
    text-align: center;
    color: white;
    margin-top:10px;
}
.-item p{
    position: relative;
    bottom: 303px;
    /* align-items: center; */
    text-align: center;
    background: rgba(1, 1, 1, 0.5);
    color: white;
    left: 87px;
    padding: 10px;
    width: 124px;
}

.carrusel {
    height: auto;
    display: flex;
    align-items: center;
  }
  
  .carrusel-items {
    user-select: none;
    display: flex;
    /* overflow-x: hidden; */
    overflow-y: hidden;
    padding: 30px 0px;
  }
  
  .carrusel-item {
    min-width: 300px;
    max-width: 300px;
    height: 300px;
    /* outline: 2px solid black; */
    cursor: pointer;
  }
  
  .carrusel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .carrusel-item h3 {
    position: relative;
    bottom: 141px;
    text-align: center;
    background: rgba(1, 1, 1, 0.5);
    color: white;
    padding: 13px;
    width: 77%;
    height: 74px;
    left: 36px;
    text-align: center;
    align-items: center;
    border: 1px solid black;
}


  
  
.carrusel-item:hover {
    transform: scale(1.2);
  } 