.error {
    border: solid 1px darkred;
    color: darkred;
}

.valid{
    border: solid 1px green;
}

.warning {
    border: solid 1px orangered;
    color: orangered;
}

.fa-info-circle{
    color: darkred;
    display: none;
    position: absolute;
    right: 8px;
    top: 6px;
}
.fa-check-circle{
    color: green;
    display: none;
    position: absolute;
    right: 8px;
    top: 6px;
}

.validator-error {
    color: darkred;
}