.main-admin-create{
    background-color: rgba(139, 0, 0, 0.4);
    color: white;
    font-weight: 999;
    margin: 50px auto;
    padding: 10px;
    width: 90%;
    max-width: 360px;
}

.main-admin-create h2{
    margin: 10px auto 40px;
    text-align: center;
}

.lbl-form-create-product {
    font-size: 16px;
    margin-bottom: 10px;
}

.input-form-create-product{
    border-radius: 7px;
    font-weight: 999;
    height: 25px;
    padding-left: 10px;
}

.div-varieties-form-create-product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 10px auto;
    width: 254px;
}

.lbl-checkbox-form-product-create {
    margin-left: 5px;
}

/* 
main.main-admin-create form .variety{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
} */
main.main-admin-create form .variety input{
    margin-right: 10px;
  
}
main.main-admin-create .inputs-create option.option{
font-weight: 999;
}
main.main-admin-create  select{
    font-weight: 999;
}

main.main-admin-create .inputs-create{
    display: flex;
    flex-direction: column;
    margin-bottom:10px ;
}
main.main-admin-create  .large{
    border-radius: 5px;
    margin-top: 10px;
}

.txt-form-edit-product {
    border-radius: 5px;
    font-weight: 999;
    margin: 10px auto;
    outline: none;
    padding: 10px;
    resize: none;
    width: 100%;
}

main.main-admin-create button{
    background-color: rgba(179, 68, 68, 0.5);
    border-radius: 25px;
    color: white;
    font-size: 15px;
    font-weight: 999;
    padding: 5px;
    width: 100%;
}

main.main-admin-create .temperatura-create{
    display: flex;
    margin-bottom: 10px;
}
main.main-admin-create .temperatura-create input{
    outline: none;
    padding: none;
    width: auto;
}

.input-file-form-edit-product {
    align-items: center;
    border: solid 1px white;
    border-radius: 8px;
    background-color: rgb(255, 255, 255, 0.6);
    display: flex;
    justify-content: center;
    height: 40px;
    margin: 15px auto;
    position: relative;
    width: 250px;
}

.p-file-img {
    color: black;
    font-weight: 900;
}

.input-file-img {
    border-radius: 8px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    opacity: 0;
    width: 100%;
}

@media(min-width: 1000px) {
    /* main.main-admin-create{
        padding: 25px;
    }
    main.main-admin-create input{
        outline: none;
        background-color: rgba(179, 68, 68, 0.1);
        width: 50%;
        font-size: 15px;
    }
    main.main-admin-create .large textarea{
        outline: none;
        
        font-size: 15px;
    } */
}