:root{
    --color-fondo-main: gainsboro;
    --color-grisOscuro: #5C5A5A;
    --color-rojoVino: #56070c;
    --color-grisBotones: #C4C4C4;
    --color-fondoFutter: #383737;
}
body#homeBody{
    background-color: black;
    background-image: none;
}

body {
    margin-top: 180px;
    background-image: url(/img/Background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
input{
    outline: none;
}
html{
    max-width: 1440px;
    margin: 0 auto;
}

header{
    max-width: 1440px;
}
