:root{
    --color-fondo-main: gainsboro;
    --color-grisOscuro: #5C5A5A;
    --color-rojoVino: #56070c;
    --color-grisBotones: #C4C4C4;
    --color-fondoFutter: #383737;
}
body#homeBody{
    background-color: black;
    background-image: none;
}
/*  body{
    background-image: url(/img/biljana-martinic-IGJ_21drT3g-unsplash.jpg);
    background-repeat: no-repeat;

    background-size: cover;
}  */
