* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    border: none;
    font-family: 'Raleway', sans-serif;
}

header.header-admin{
    margin-top: -180px;
    background-image: url(/img/header-desktop.png);
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
}
header.header-admin .logoAdmin{
    text-align: center;
}
header.header-admin .logoAdmin h1{
    font-size: 20px;
    color: white;
    font-family: 'Rosarivo', serif;
    font-weight: 100;
}
header.header-admin .logoAdmin img{
height: 40px;
width: 40px;
}

header.header-admin .containerLog{
    display: flex;
    justify-content: center;
    text-align: center;
}
header.header-admin .containerLog .logOut img{
height: 40px;
width: 40px;
}
header.header-admin .containerLog .ruteables ul  li{
    background-color: rgba(0, 0, 0, 0.2);
    margin-bottom: 5px;
    list-style: none;
    width: 300px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px;
}
header.header-admin .containerLog .ruteables ul  li a{
    color: white;
}

.search-admin{
    text-align: center;
    background-color: grey;
    padding: 10px;
}
.search-admin input{
    border-radius: 20px;
    width: 80%;
    height: 25px;
    text-align: center;
}

/* QueryTablet */

@media(min-width: 1000px) {
    header.header-admin .logoAdmin img{
        width: 70px;
        height: 70px;
    }
    header.header-admin .logoAdmin h1{
        font-size: 35px;
    }
    header.header-admin .containerLog .ruteables ul{
        display: flex;
        justify-content: space-around;
        
    }
    header.header-admin .containerLog .ruteables ul li{
        margin-left: 20px;
    }
    header.header-admin .containerLog .ruteables ul .logOut{
        margin-left: 10px;
}}