* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    border: none;
    font-family: 'Raleway', sans-serif;
}

header.prueba {
    /* padding-left: 50px; */
    top:0;
}

header.prueba .linksFirst{
    display: none; 
}
header.prueba .modal {
    display: none;
    background: rgba(0, 0, 0, 0.9);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    padding: 20px;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

header.prueba .loginH .modal2 {
    display: none;
    background: rgba(0, 0, 0, 0.9);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    padding: 20px;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
header.prueba .loginH .modal-container2 {
    display: block;
    background: white;
    max-width: 90%;
    min-width: 400px;
    min-height: 600px;
    max-height: 100%;
    padding: 20px;
    border-radius: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
header.prueba .loginH .modal-container2 .close-modal2 {
    background: rgba(45, 0, 0, 0.9);
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.3rem;
    border-radius: 50%;
    position: absolute;
    right: -15px;
    top: -9px;
    cursor: pointer;
}
header.prueba .loginH .modal-container2 h1 {
    margin-top: 30px;
    margin-bottom: 35px;
}
header.prueba .loginH  .modal-container2 label {
    font-weight: 900;
    margin-top: 25px;
    font-size: 25px;
    margin-bottom: 10px;
}
header.prueba .loginH  .modal-container2 input {
    background-color: #E7DFDF;
    height: 2.3rem;
    width: 340px;
    border-radius: 55px;
}
header.prueba .loginH  .modal2 .modal-container2 button {
    display: flex;
    margin-top: 60px;
    background-color: #56070C;
    color: white;
    width: 255px;
    padding: 10px;
    border-radius: 55px;
    justify-content: center;
}
header.prueba .loginH .modal-container2 p {
    margin-top: 50px;
    font-weight: bolder;
}


header.prueba .loginH .modal .modal-conteiner>a {
    font-family: 'Cinzel', serif;
    text-decoration: none;
    color: white;
    margin-bottom: 35px;
    font-weight: lighter;
}
.loginH p{
    font-size: 10px;
}
.perfil p{
    font-size: 10px;
}

header.prueba .loginH .modal .modal-conteiner .close-modal {
    background: rgba(0, 0, 0, 0.5);
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.3rem;
    border-radius: 50%;
    position: absolute;
    right: 183px;
    top: 389px;
    cursor: pointer;
}

header.prueba .loginH  .anclas .modal2 {
    display: none;
}


/* query */

    
header.prueba {

    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    width: 100%;
   
   position: fixed;
   z-index: 999;
   margin-bottom: 120px;
 
}
header.prueba a{
    color: white;
}
header.prueba .logoCenter{
    align-items: center;
    text-align: center;
    margin-top: 10px;
}
header.prueba .logoCenter img{
    height: 40px;
    
}
header .logoCenter h1 {
    font-weight: 100;
    font-family: 'Rosarivo', serif;
    font-size: 18px;
    color: white;
}


header.prueba .linksLast{
  
    align-items: center;
    text-align: center;
    justify-content: space-around;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}
header.prueba .linksLast a img{
    color: white;
    width: 30px;
}
header.prueba .linksLast a button#ing {
    background-color: transparent;
   
}
header.prueba .linkLast .loginH button#ing{
    background-color: transparent;
    color: white;
}
header.prueba .linksLast  p{
    color: white;
}

header.prueba .loginH #ing{
    background-color: transparent;
    display: none;
}

header.prueba .loginH img.logout{
    width: 30px;
}

header.prueba .linkLast .perfil{
    align-items: center;
    justify-content: center;
}
header.prueba .linkLast .perfil img.perfil{
    width: 20px;
}
/* Ventana modal  */

.modal {
    display: none;
    background: rgba(0, 0, 0, 0.9);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    padding: 20px;
    justify-content: center;
    align-items: center;
    z-index: 1000;
   
}

.modal a{
    color: white;
}

header.prueba .modal-burger {
    display: flex;
    justify-content: center;
    
}

header.prueba .modal-burger button {
    background: transparent;
}

header.prueba .modal-conteiner {
    text-align: center;
    max-width: 90%;
    min-width: 400px;
    min-height: 400px;
    max-height: 90%;
    padding: 20px;
    border-radius: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
}



header.prueba .modal .modal-conteiner>a {
    font-family: 'Cinzel', serif;
    text-decoration: none;
    color: white;
    margin-bottom: 35px;
    font-weight: lighter;
}

header.prueba .modal .modal-conteiner .close-modal {
    background: rgba(0, 0, 0, 0.5);
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.3rem;
    border-radius: 50%;
    position: absolute;
    right: 183px;
    top: 389px;
    cursor: pointer;
}

header.prueba .anclas .modal2 {
    display: none;
}
@media screen and (min-width: 800px){
    header.prueba .logoCenter img{
        height: 70px;
    }
    header .logoCenter h1{
        font-size: 25px;
    }
}


@media screen and (min-width: 1000px){
    header.prueba .modal-burger{
        display: none;}

        header.prueba .linksFirst{
            display: flex;
            justify-content: space-around;
            text-align: center;
            align-items: center;
        
        }
        header.prueba .loginH #ing{
            background-color: transparent;
           display: inline;
        }
        header.prueba .loginH #ing img{
            width: 30px;
        }
        /* header.prueba .cart-data-label-drop-down {
            margin-left: 130px;
        } */
    
}