

header.home{
    text-align: center;
    align-items: center;
    background-image: none;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0,0, 0.5);
    padding: 10px;
    top: 0;
    z-index: 9999;
}
.modal-burger button{
    background-color: transparent;
}
header.home img{
    height: 27%;
    width: 27%;
}
header.home h1{

    font-weight: 100;
    font-size: 22px;
    color: white;
    font-family: 'Rosarivo', serif;
}
header.home .burger img{
    width: 80%;
    height: 80%;
}
header.home .carrito-home img{
    width: 39px;
    height: 31px;
    background-color: rgba(0, 0,0, 0.5);
    padding: 5px;
    border-radius: 55px;
    margin-right: 12px;
}
body.home{
   /*  margin-top: 20px; */
   /*  background-image: url("../img/fondodesktop.png"); */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    height: max-content;
    background-attachment: fixed;
    margin-top: 0;
}
main.home .cabecera{
    top: 3rem;
    position: relative;
}
main.home  .logo-home1{
    position: sticky;
    z-index: 10;
    align-items: center;
    text-align: center;
    color: white;
    top: 37%;
    height: 0px;
}

main.home .logo-home1 img{
    width: 95px;
    height: 74px
}
main.home{
    height: 100%;
} 

/* Carousel container */
.carousel-container {
    position: relative;
    /* margin: 0 auto 30px; */
}

/* Esconde las imágenes por default */
.slides {
    display: none;
}

.slides img{
    width: 100%;
}

.dots {
    display: none;
    width: fit-content;
    margin: 0 auto;
}

/* Botones de anterior y siguiente */
.carousel-container .prev, .carousel-container .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: var(--dark-blue);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;

}

/* Posición de el boton siguiente a la derecha */
.carousel-container .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* En hover, agrega un fondo con transparencia */
.prev:hover, .next:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

/* Puntos indicadores */
.dot {
   display: none;
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot-active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@media screen and (min-width: 1024px) {
  
}
/* -------------------------------- */
 main.home .nuestros-vinos h4{
    font-family: 'Cinzel', serif;
     text-align: center;
     color: white;
     margin-top: 10px;
     font-weight: lighter;
     background-color: rgba(0, 0,0, 0.5);
     margin-bottom: 0px;
 }
    
    
    

    main.home .linkeables-tablet{
        display: none;
    }
    main.home .linkeables{
        margin-top: 20px;
        display: grid;
        grid-template-columns: 50% 50%;
        
        
    }
    main.home .linkeables img{
        /* height: 100%; */
        width: 100%;
        
        
    }
    main.home .linkeables #box1{
        position: relative; 
        z-index: -1;
        
    }
    main.home .linkeables #box1 button a{
        position: absolute;
        bottom: 40%;
        color: white;
        font-family: 'Rosarivo', serif;
        font-weight: lighter;
        text-align: center;
        text-decoration: none;
        font-size: 20px;
    }
    main.home .linkeables #box2{
        position: relative;
        z-index: -1;
        
    }
    main.home .linkeables #box2 button a{
        position: absolute;
        bottom: 40%;
        color: white;
        font-family: 'Rosarivo', serif;
        font-weight: lighter;
        text-align: center;
        text-decoration: none;
        font-size: 20px;
        left: 10%;

    }
    

    main.home .vacaciones video{   
      /*   background-image: url(../img/pexels-taryn-elliott-7607996.jpg); */
      
   
       
        width: 100%;
    
       
        position: absolute;
        /* margin-bottom: 101px; */
    }
    main.home .vacaciones .txt{
        font-weight: 100;
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        top: 45px;
    }
    

    main.home .vacaciones h3{
        background-color: rgba(151, 156, 146, 0.3) ;
        padding: 10px;
        border-radius: 55px;
        font-family: 'Rosarivo', serif;
        font-weight: lighter;
        margin-bottom: 10px;
        position: relative;
    }
    main.home .vacaciones button{
        padding: 8px;
    background-color: #C4C4C4;
    border-radius: 55px;
    font-weight: bolder;
    cursor: pointer;
    }


/* Se rompen linkeables QUERY HELP*/
 @media(min-width: 465px){
    main.home .logo-home1 img {
        width: 116px;
        height: 170px;
    }
} 
    /*  query tablet   */


@media(min-width: 768px){
   header.home {
       height: 105px;
   }
   header.home h1{
       font-size: 35px;
   }
   header.home .burger img{
    width: 100%;
    height: 100%;
}
 header.home .carrito-home img{ 
    width: 54px;
    height: 42px;
    background-color: rgba(0, 0,0, 0.5);
    padding: 10px;
    border-radius: 91px;
} 
main.home .texto-home{
    display: flex;
    flex-direction: column;
    font-size: 13px;
    height: 415px;
    color: white;
    font-weight: lighter;
    text-align: center;
    align-items: center;
    
}
main.home .texto-home h1{
    font-size: 19px;
    width: 70%;
}

main.home .texto-home img{
    height: 20%;
    margin-top: 25%;
}
main.home .supuesto-slider img{
    height: 270px;

}
main.home .linkeables-tablet{
    margin-top: 55px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    
}
main.home .linkeables-tablet img{
    width: 100%;
    
}
main.home .linkeables-tablet .bx1:hover{
    transition: 1s all;
    color: var(--color-rojoVino);
    border: 5px solid white;
}
main.home .linkeables-tablet .bx2:hover{
    transition: 1s all;
    color: var(--color-rojoVino);
    border: 5px solid white;
}
main.home .linkeables-tablet .bx3:hover{
    transition: 1s all;
    color: var(--color-rojoVino);
    border: 5px solid white;
}

main.home .linkeables{
    display:none
}
main.home .vacaciones .txt{
    margin-top: 0px;
   
}
main.home .cabecera{
    top: 11rem;
    font-size: 32px;

    }
    main.home .logo-home1 img {
        width: 234px;
        height: 155px;
    }
}

    /* query desktop  */

@media (min-width: 1000px){


header.home .modal-burger{
    display: grid;

}
header.home .burger{
    display: flex;
    width: max-content;
    height: max-content;
}
header.home .carrito-home img{
    width: 25%;
    height: 45px;
    padding: 8px;
}
.modal-burger button{
    margin-left: 60px;
}

 main.home .texto-home{
     height: 650px;
   
}
main.home .texto-home h1{
    font-size: 25px;
    width: 70%;
    margin-top: 26px;
}
main.home .nuestros-vinos h4{
    font-size: 25px;
}
main.home .cabecera {
    top: 25rem;
    font-size: 35px;
}
main.home .logo-home1 img{
    width: 210px;
}
}