 

.main-ingreso {
    display: flex;
   font-family: 'Rosarivo', serif;
    background-image: url(/img/Background.png);
    background-blend-mode: hard-light;
    /* background-size: cover; */
    position: absolute;
    z-index: 999;
    justify-content: center;
    height: 100%;
    width: 100%;
    align-items: center;
    
}
.difu{
    background-color: green;
    align-items: center;
    display: flex;
    text-align: center;
    height: 80%;
    width: 80%;
    margin: auto;
    justify-content: center;
}
.year{
    height: 100%;
    margin-top: -50%;
}
.year p{
    margin-bottom: 20%;
}

