/* body */
* {
    font-weight: 800;
}

.main-productCart {
    background-color: gainsboro;
    height: auto;
    padding: 20px 40px;
}

.main-productCart .section-productCart {
    max-width: 450px;
    margin: 0 auto;
}

.main-productCart .section-productCart .column {
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    color: black;
    display: flex;
    font-size: 14px;
    justify-content: space-around;
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 10px 0;
}

.main-productCart .section-productCart article {
    border-bottom: solid 1px black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.main-productCart .section-productCart article .wine-x img{
    background-color: rgb(204, 203, 203);
    border-radius: 10px;
    margin-top: 10px;
    padding: 3px 8px;
    width: 50px;
}

.main-productCart .section-productCart article .detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 110px;
    width: 130px;
    text-align: center;

}

.main-productCart .section-productCart article .detail p {
    font-size: 14px;
}

.main-productCart .section-productCart article .cant {
    background-color: rgb(194, 194, 194);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 3px;
    height: 22px;
    width: 70px;
}
.main-productCart .section-productCart article .cant #buttons {
    border: none;
    text-align: center;
    font-size: 12px;
    padding : 1px 3px;
    height: 16px;
    width: 18px;
}

.main-productCart .section-productCart article .cant .cantidad {
    border: none;
    height: 16px;
    text-align: center;
    width: 30%;
}

.main-productCart .section-productCart article .subtotal {
    display: flex;
    align-items: center;
    font-size: 14px;
    justify-content: space-between;
    height: 20px;
    margin-right: 5px;
    width: 120px;
}

.main-productCart .section-productCart article .tachito {
    flex-wrap: wrap;
    height: 15px;
    width: 15px;
}

.main-productCart .section-productCart .sub-sin-envio {
    border-bottom: solid 1px black;
    padding-bottom: 10px;
}

.main-productCart .section-productCart .sub-sin-envio p {
    margin-left: 10px;
}

/* Seccion metodos de envío */

.main-productCart .section-productCart .met-envio {
    border-bottom: solid 1px black;
    padding-top: 10px;
    padding-bottom: 10px;
}

.main-productCart .section-productCart .met-envio img {
    width: 20px;
}

.main-productCart .section-productCart .met-envio p {
    font-size: 12px;
    text-align: left;
    margin: 5px auto 10px 10px;
}

.main-productCart .section-productCart .calcular {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 10px;
    width: 90%;
    height: 35px;
}

.main-productCart .section-productCart .met-envio .calcular #codigo-postal {
    background-color: white;
    border: none;
    border-radius: 10px;
    font-size: 12px;
    height: 25px;
    text-align: center;
    width: 120px;
}

.main-productCart .section-productCart .met-envio .calcular #calcular{
    background-color: rgb(194, 194, 194);
    border: none;
    border-radius: 20px;
    color: black;
    font-size: 12px;
    height: 25px;
    text-align: center;
    width: 80px;
}

.main-productCart .section-productCart .total {
    display: flex;
    justify-content: space-between;
    margin: 20px 15px ;
    width: 85%;
}

.main-productCart .section-productCart .fin {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    padding-bottom: 10px;
    width: 95%;
}

.main-productCart .section-productCart .fin #mas {
    background-color: gainsboro;
    border: none;
    font-size: 14px;
}

.main-productCart .section-productCart .fin #compra {
    background-color: #56070C;
    border-radius: 30px;
    color: white;
    font-size: 12px;
    height: 25px;
    width: 135px;
}

