body {
    background-color: gainsboro;
}

/* .border-prueba {
    border: solid 2px;
} */

.main-prueba {
    align-items: center;
    background-color: rgba(169,169,169,0.2);
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.1fr 0.2fr 0.1fr 0.2fr 0.1fr 0.8fr 0.2fr 0.1fr;
    grid-template-areas: 
    "img-prueba img-prueba img-prueba img-prueba"
    "collection collection collection collection"
    "title-p title-p title-p title-p"
    "variedad variedad variedad variedad"
    "price price price price"
    "cant cant cant cant"
    "description description description description"
    "maridaje maridaje maridaje maridaje"
    "agregar agregar agregar agregar" 
    "ver-mas ver-mas ver-mas ver-mas" 
    "confirmar confirmar confirmar confirmar";
    
    margin: 30px;
    text-align: center;/* 
    height: 100vh; */

}

.ver-mas {
    display: none;
}

.img-prueba {
    grid-area: img-prueba;
    margin-bottom: 20px;
}
.collection {/* 
    color: var(--color-grisOscuro); */
    color: white;
    grid-area: collection;
}
.title-p {/* 
    color: white; */
    grid-area: title-p;
}
.variedad {/* 
    color: var(--color-rojoVino); */
    color: #fc1924;
    grid-area: variedad;
}
.price {/* 
    color: var(--color-rojoVino); */
    color: #fc1924;
    font-size: 20px;
    grid-area: price;
    margin: 10px auto 5px;
}
.cant {
    border: solid 1px var(--color-rojoVino);
    border-radius: 10px;
    display: flex;
    grid-area: cant;
    height: 25px;
    margin: 10px auto 10px;
    width: 100px;
}
.btns {
    width: 100px;
    font-size: 20px;
}
.menos-detail {
    border-radius: 15px 0 0 15px;
}

.mas-detail {
    border-radius: 0 15px 15px 0;
}
.cantidad {
    border-left: solid 1px var(--color-rojoVino);
    border-right: solid 1px var(--color-rojoVino);
    font-size: 20px;
    text-align: center;
    width: 100%;
}

.description {/* 
    background: linear-gradient(180deg, transparent 1%, rgba(3,3,12, 0.1) 25%, transparent); */
    color: white;
    font-size: 15px;
    grid-area: description;
    margin: 10px auto 0;
}
.maridaje {
    color: white;
    font-size: 15px;
    grid-area: maridaje;
    margin-bottom: 20px;
}
.maridaje > b{/* 
    color: var(--color-rojoVino); */
    color: #fc1924;
}

.agregar {
    grid-area: agregar;
}
.ver-mas {
    grid-area: ver-mas;
}

.btn-button {
    border: solid 1px var(--color-rojoVino);
    margin: 0 auto;
}

.title-p {
    color: white;
    margin: 0;
}

.img-prueba > img{
    box-shadow: 0px 0px 30px 5px rgb(0, 0, 0, 20%);
    width: 250px;
}

.btn-button {
    border-radius: 10px;
    height: 25px;
    margin: 0 auto 10px;
    width: 200px;
}

.confirmar {
    background-color: var(--color-rojoVino);
    border-radius: 10px;
    color: white;
    grid-area: confirmar;
    height: 25px;
    margin: 0 auto;
    width: 200px;
}

@media(min-width: 768px){
    .main-prueba {
        display: grid;
        grid-template-columns:0.2fr 0.5fr 0.5fr 0.5fr;
        grid-template-rows: 0.1fr 0.1fr 0.1fr 0.4fr 0.5fr 0.3fr 0.5fr 0.2fr;
        grid-template-areas:
        "img-prueba img-prueba collection collection"
        "img-prueba img-prueba title-p title-p"
        "img-prueba img-prueba variedad variedad"
        "img-prueba img-prueba price cant"
        "img-prueba img-prueba description description"
        "img-prueba img-prueba maridaje maridaje"
        "img-prueba img-prueba agregar ver-mas"
        "confirmar confirmar confirmar confirmar";
        text-align: center;
    
    }

    .ver-mas {
        display: block;
    }

    .img-prueba {
        margin-bottom: 50px;
    }
    
    .price,
    .cant,
    .description,
    .btn-button,
    .confirmar {
        margin: 0 auto;
    }

    .maridaje {
        margin-top: 10px;
    }

    .confirmar {
        width: 600px;
    }

}

@media (min-width: 1200px) {
    .main-prueba {
        grid-template-rows: 0.1fr 0.1fr 0.1fr 0.3fr 0.5fr 0.3fr 0.3fr 0.2fr;
        margin: 90px;
    }

    .img-prueba > img{
        width: 350px;
    }

    .collection {
        font-size: 20px;
    }

    .title-p {
        font-size: 28px;
    }

    .price {
        font-size: 25px;
    }

    .description {
        border-top: solid 1px rgba(0, 0, 0, 0.3);
        font-size: 19px;
        padding: 15px 30px 0;
    }

    .maridaje {
        font-size: 18px;
    }

    .btn-button {
        width: 230px;
    }

    .variedad {
        font-size: 18px;
    }

    .btn-button {
        font-size: 18px;
        height: 30px;
    }

    .confirmar {
        font-size: 18px;
        height: 30px;
    }
}