.body-productDetail {
    background-color: var(--color-fondo-main);
}

.main-productDetail {
    background-color: var(--color-fondo-main);
    margin-top: 55px;
    padding-bottom: 30px;
    text-align: center;
}

#img-carrito2 {
    top: 2px;
    width: 200px;
}

.main-productDetail .detalle {
    margin: 0 50px;
}

.main-productDetail .detalle h4 {
    margin: 20px auto;
    max-width: 390px;
    text-align: center;
}

.main-productDetail .detalle ul {
    margin: 20px auto 10px auto;
    max-width: 390px;
    text-align: center;
}

/* Botones de seleccion de cantidad de unidades. */

.main-productDetail .cant {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 30px auto;
    padding: 10px;
    height: 28px;
    width: 100px;
}

.main-productDetail .cant #buttons {
    background-color: white;
    border: none;
    border-radius: 10px;
    text-align: center;
    font-size: 12px;
    padding: 1px 3px;
    height: 22px;
    width: 24px;
}

.main-productDetail .cant .cantidad {
    border: none;
    border-radius: 10px;
    height: 22px;
    text-align: center;
    width: 26px;
}

.main-productDetail .precio {
    color: var(--color-rojoVino);
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 30px;
    text-align: center;
}

/* Botones agregar al carrito, costo de envío y confirmar. */

.main-productDetail .botones {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.main-productDetail .botones #agregar {
    background-color: var(--color-grisOscuro);
    border-radius: 15px;
    font-size: 16px;
    height: 25px;
    margin-bottom: 10px;
    width: 150px;
}

.main-productDetail .botones #costo-envio {
    background-color: var(--color-grisOscuro);
    border-radius: 15px;
    display: none;
    font-size: 16px;
    height: 25px;
    margin-bottom: 10px;
    width: 150px;
}

.main-productDetail .botones #confirmar {
    background-color: var(--color-rojoVino);
    border-radius: 15px;
    color: white;
    font-size: 16px;
    height: 25px;
    width: 100px;
}

@media (min-width: 768px) {
    .main-productDetail {
        text-align: left;
        display: flex;
        position: relative;
    }

    .main-productDetail .detalle h4,
    .main-productDetail .detalle ul {
        max-width: 520px;
    }

    .main-productDetail .detalle h4,
    .main-productDetail .botones,
    .main-productDetail .cant,
    .main-productDetail .detalle ul,
    .main-productDetail .precio {
        position: absolute;
    }

    .main-productDetail .detalle ul {
        border-top: solid 1px black;
        padding: 10px 5px 5px 0;
        left: 49%;
        top: 170px;
    }

    .main-productDetail .detalle h4 {
        font-size: 22px;
        left: 48.1%;
    }

    .main-productDetail .precio {
        top: 100px;
        left: 52%;
    }

    .main-productDetail .cant {
        top: 103px;
        left: 82%;
    }
    /* Botones agregar al carrito, costo de envío y confirmar. */
    .main-productDetail .botones {/* 
        border: solid 2px red; */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 60px;
        top: 400px;
        left: 17%;
        width: 500px;
    }

    .main-productDetail .botones #costo-envio,
    .main-productDetail .botones #agregar,
    .main-productDetail .botones #confirmar {
        border-radius: 25px;
        font-size: 22px;
        height: 40px;
        width: 210px;
    }

    .main-productDetail .botones #costo-envio {
        display: block;
    }

    .main-productDetail .botones #confirmar {
        bottom: 0;
        position: absolute;
        left: 140px;
    
    }

    .main-productDetail img {
        margin: 10px 0 295px 5%;
        width: 300px;
    }
}

@media (min-width : 1200px) {
    .main-productDetail .botones #confirmar {
        position: static;
        margin-top: 0;
    }

    .main-productDetail .botones {
        left: 14%;
        width: 800px;
        padding: 0;
    }

    .main-productDetail .botones #agregar,
    .main-productDetail .botones #costo-envio {
        margin-top: 10px;
    }
}