body {
    background-color: gainsboro;
}

.main-prueba {
    align-items: center;
    background-color: rgba(169,169,169,0.7);
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.5fr 0.2fr 0.1fr;
    grid-template-areas:
    "img-prueba img-prueba img-prueba img-prueba"
    "collection collection collection collection"
    "title-p title-p title-p title-p"
    "variedad variedad variedad variedad"
    "price price price price"
    "cant cant cant cant"
    "description description description description"
    "maridaje maridaje maridaje maridaje"
    "agregar agregar agregar agregar" 
    "ver-mas ver-mas ver-mas ver-mas" 
    "confirmar confirmar confirmar confirmar";
    margin: 20px;
    padding: 10px 20px 5px;
    text-align: center;

}

.ver-mas {
    display: none;
}

.img-prueba {
    grid-area: img-prueba;
    margin-bottom: 20px;
}
.collection {/* 
    color: var(--color-grisOscuro); */
    color: gainsboro;
    grid-area: collection;
}
.title-p {
    color: gainsboro;
    grid-area: title-p;
    margin: 0;
}
.variedad {
    color: var(--color-rojoVino);
    grid-area: variedad;
}
.price {
    color: var(--color-rojoVino);
    font-size: 20px;
    grid-area: price;
    margin: 10px auto 5px;
}

.description {/* 
    background: linear-gradient(180deg, transparent 1%, rgba(3,3,12, 0.1) 25%, transparent); */
    color: gainsboro;
    font-size: 15px;
    grid-area: description;
    margin: 10px auto 0;
}
.maridaje {
    color: gainsboro;
    font-size: 15px;
    grid-area: maridaje;
    margin-bottom: 20px;
}
.maridaje > b{
    color: var(--color-rojoVino);
}

.cant {
    grid-area: cant;
    margin: 0 auto;
}

.agregar {
    grid-area: agregar;
}
.ver-mas {
    grid-area: ver-mas;
}

.btn-button {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 1.5rem; 
    box-shadow: 0 0 15px rgba(66, 66, 66, 0.7);
    color: var(--color-rojoVino);
    cursor: pointer;
    font-weight: bold;
    height: 2.2rem;
    margin: 0 auto;
    text-transform: uppercase;
    width: 200px;
}

.btn-button:hover{
    transition: 1s all;
    background-color: var(--color-rojoVino);
    color: white;
    font-weight: bolder;
}

.img-prueba > img{
    box-shadow: 0px 0px 30px 5px rgb(0, 0, 0, 20%);
    width: 250px;
    margin-top: 30px;
}

.confirmar {
    background-color: var(--color-rojoVino);
    border-radius: 1.5rem; 
    box-shadow: 0 0 15px rgb(0, 0, 0, 0.7);  
    color: white;
    cursor: pointer;
    font-weight: bold;
    grid-area: confirmar;
    height: 2.2rem;
    margin: 0 auto;
    text-transform: uppercase;
    width: 200px;
}

.confirmar:hover{
    transition: 1s all;
    background-color: rgba(255, 255, 255, 0.6);
    color: var(--color-rojoVino);
    font-weight: bolder;
}

.btn-prev-next {
    background-color: transparent;
    border-radius: 2px;
    color: black;
    height: 65px;
    width: 45px;
    position: fixed;
    top: 230px;
    transition: all 0.8s;
}

.btn-prev-next:hover{/* 
    background-color: rgba(86, 7, 12, 0.6); */
    background-color: rgba(255, 255, 255, 0.6);
}

.btn-prev {
    left: 10px;
}
.btn-next {
    right: 10px;
}

.p-prev-next {
    font-size: 28px;
    margin-top: 14px;
}

.modal-container-product-detail {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    display: none;
    height: 100%;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.modal-product-detail {
    align-items: center;
    background-color: gainsboro;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-evenly;
    text-align: center;
    width: 400px;/* 
    position: absolute; */
}

.btns-container-modal-product-detail {
    display: flex;
    height: 15px;
    justify-content: space-evenly;
    width: 200px;
}

.btn-modal-product-detail {
    background-color: var(--color-rojoVino);
    border-radius: 3px;
    color: white;
    height: 30px;
    width: 40px;
}

@media(min-width: 768px){
    .main-prueba {
        display: grid;
        grid-template-columns:0.2fr 0.5fr 0.5fr 0.5fr;
        grid-template-rows: 0.1fr 0.1fr 0.1fr 0.4fr 0.5fr 0.3fr 0.5fr 0.2fr;
        grid-template-areas:
        "img-prueba img-prueba collection collection"
        "img-prueba img-prueba title-p title-p"
        "img-prueba img-prueba variedad variedad"
        "img-prueba img-prueba price cant"
        "img-prueba img-prueba description description"
        "img-prueba img-prueba maridaje maridaje"
        "img-prueba img-prueba agregar ver-mas"
        "confirmar confirmar confirmar confirmar";
        padding: 20px 20px 5px;
        text-align: center;
    
    }

    .ver-mas {
        display: block;
    }

    .img-prueba {/* 
        margin-bottom: 50px; */
        margin: 86px auto;
    }
    
    .price,
    .cant,
    .description,
    .btn-button,
    .confirmar {
        margin: 0 auto;
    }

    .btn-button {
        margin: 10px;
    }

    .description,
    .maridaje{
        margin-left: 25px;
    }

    .maridaje {
        margin-top: 10px;
    }

    .confirmar {
        width: 600px;
    }

}

@media (min-width: 1200px) {
    .main-prueba {
        grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr 0.5fr 0.1fr 0.1fr 0.2fr;
        /* gap:10px; */
    }

    .img-prueba > img{
        width: 350px;
    }

    .collection {
        font-size: 20px;/* 
        margin-top: 30px; */
    }

    .title-p {
        font-size: 28px;
    }

    .price {
        font-size: 25px;
    }

    .description {
        border-top: solid 1px rgba(0, 0, 0, 0.3);
        font-size: 19px;
        padding: 15px 30px 0;
    }

    .maridaje {
        font-size: 18px;
    }

    .btn-button {
        width: 230px;
    }

    .variedad {
        font-size: 18px;
    }

    .btn-button {
        font-size: 18px;
        height: 30px;
    }

    .confirmar {
        font-size: 18px;
        height: 30px;/* 
        margin-top: 30px; */
    }

    .btn-prev-next {
        top: 250px;
    }
}