.main-profile form {
    background-color: rgba(220, 220, 220, 0.9);
    border-radius: 3px;
    display: grid;
    gap: 8px;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.6fr 0.1fr 0.1fr 0.1fr;
    grid-template-areas: 
    "h1-profile" 
    "avatar-profile" 
    "lbl-fullname-profile" 
    "input-fullname-profile" 
    "lbl-email-profile" 
    "input-email-profile" 
    "lbl-dni-profile" 
    "input-dni-profile" 
    "lbl-tel-profile" 
    "input-tel-profile" 
    "lbl-cp-profile" 
    "input-cp-profile" 
    "lbl-date-profile" 
    "input-date-profile" 
    "lbl-address-profile" 
    "txtarea-address" 
    "edit"
    "accept"
    "cancel";
    margin: 50px 30px;
    padding: 20px;
}

.avatar-profile {
    display: flex;
    border-radius: 65px;
    grid-area: avatar-profile;
    justify-content: center;
    margin: 10px auto;
    position: relative;
    width: 130px;
}

.avatar-profile img {
    border-radius: 65px;
    height: 125px;
    width: 130px;
}

.input-avatar-profile {
    border-radius: 60px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    opacity: 0;
    width: 100%;
}

#h1-profile {
    grid-area: h1-profile;
    text-align: center;
}
#lbl-fullname-profile {
    grid-area: lbl-fullname-profile;

} 
#input-fullname-profile{
    grid-area: input-fullname-profile;

} 
#lbl-email-profile{
    grid-area: lbl-email-profile;

} 
#input-email-profile {
    grid-area: input-email-profile;
    
} 
#lbl-dni-profile{
    grid-area: lbl-dni-profile;

} 
#input-dni-profile{
    grid-area: input-dni-profile;

} 
#lbl-tel-profile {
    grid-area: lbl-tel-profile;

} 
#input-tel-profile{
    grid-area: input-tel-profile;

} 
#lbl-cp-profile {
    grid-area: lbl-cp-profile;

} 
#input-cp-profile{
    grid-area: input-cp-profile;

} 
#lbl-date-profile{
    grid-area: lbl-date-profile;

} 
#input-date-profile {
    grid-area: input-date-profile;

} 
#lbl-address-profile {
    grid-area: lbl-address-profile;
} 
#txtarea-address {
    border-radius: 10px;
    grid-area: txtarea-address;
    padding-left: 10px;
    resize: none;

} 
#edit{
    grid-area: edit;

}
#accept{
    background-color: var(--color-rojoVino);
    border-radius: 1.5rem; 
    box-shadow: 0 0 15px rgb(0, 0, 0, 0.7);  
    color: white;
    cursor: pointer;
    font-weight: bold;
    grid-area: accept;
    height: 2.2rem;
    margin: 15px auto;
    text-transform: uppercase;
    width: 200px;

}
#accept:hover{
    transition: 1s all;
    background-color: rgba(255, 255, 255, 0.6);
    color: var(--color-rojoVino);
    font-weight: bolder;
}
#cancel{
    grid-area: cancel;

}

.lbl-form-profile {
    cursor: pointer;
}

.input-form-profile {
    border-radius: 10px;
    height: 27px;/* 
    margin: 5px 0; */
    padding-left: 10px;
}

.input-date-form-profile {/* 
    background: white; */
    width: 100%;
}

/* .btn-form-profile {
    background-color: var(--color-rojoVino);
    border-radius: 20px;
    color: white;
    height: 30px;
    margin: 15px auto;
    width: 50%;
} */
.btn-form-profile {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 1.5rem; 
    box-shadow: 0 0 15px rgba(66, 66, 66, 0.7);
    color: var(--color-rojoVino);
    cursor: pointer;
    font-weight: bold;
    height: 2.2rem;
    margin: 15px auto;
    text-transform: uppercase;
    width: 200px;
}

.btn-form-profile:hover{
    transition: 1s all;
    background-color: var(--color-rojoVino);
    color: white;
    font-weight: bolder;
}

@media (min-width:768px){
    .main-profile form {/* 
        background-color: rgba(220, 220, 220, 0.6);
        display: grid;
        gap: 8px; */
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.2fr 1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.6fr 0.1fr;
        grid-template-areas: 
        "h1-profile h1-profile h1-profile h1-profile h1-profile h1-profile h1-profile h1-profile" 
        "avatar-profile avatar-profile avatar-profile avatar-profile avatar-profile avatar-profile avatar-profile avatar-profile" 
        "lbl-fullname-profile lbl-fullname-profile lbl-fullname-profile lbl-fullname-profile lbl-email-profile lbl-email-profile lbl-email-profile lbl-email-profile"
        "input-fullname-profile input-fullname-profile input-fullname-profile input-fullname-profile input-email-profile input-email-profile input-email-profile input-email-profile" 
        "lbl-dni-profile lbl-dni-profile lbl-tel-profile lbl-tel-profile lbl-cp-profile lbl-cp-profile lbl-date-profile lbl-date-profile"
        "input-dni-profile input-dni-profile input-tel-profile input-tel-profile input-cp-profile input-cp-profile input-date-profile input-date-profile" 
        "lbl-address-profile lbl-address-profile lbl-address-profile lbl-address-profile lbl-address-profile lbl-address-profile lbl-address-profile lbl-address-profile" 
        "txtarea-address txtarea-address txtarea-address txtarea-address txtarea-address txtarea-address txtarea-address txtarea-address" 
        "edit edit edit accept accept cancel cancel cancel";/* 
        margin: 50px 30px;
        padding: 20px; */
    }

    .btn-form-profile{
        margin: 15px auto;
    }
}

@media (min-width: 1200px) {
    .main-profile form {
        gap: 15px;
    }
}