/*generales*/
form{
    font-weight: bolder;
}
a{
    color: darkblue;
    text-decoration: none;
}

h2{
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    text-transform: uppercase;
}
hr{
    background-color: black;
    height: 2px;
    margin-bottom: 3rem;
    width: 100%;
}
main.main-register{
    background-image: url(/img/tienda/manchaDeVinoPeque.jpg);
    padding: 50px 2px;
}
/*formulario*/
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-container{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 40px 60px #cdcfd4;
    margin: 0 auto;
    height: fit-content;
    height: -moz-fit-content;
    width: 90%;
    padding: 1rem;
}

/*Formulario input*/
.input-container, 
.button-container{
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem;
    width: 100%;
}
/* 
span.error-message{
    color: red;
    display: none;
    font-size: 0.8rem;
    margin: 0px auto;
} */

input.input-style{
    background: #e4d8db;
    border: none;
    border-radius: 20px;
    height: 2rem;
    padding: 0.5rem;
    font-weight: bolder;    
}
.input-style:focus{
    box-shadow: 0 0 6px white;    
}

label {
    font-size: 0.9rem;
    margin-bottom: 5px;
    color: black;    
}

/*Botones*/
.button-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-submit {   
    box-shadow: -5px -5px 10px rgb(255, 255, 255, 0.7);
    background-color: var(--color-rojoVino);
    border-radius: 1rem;
    cursor: pointer;
    height: 2rem;
    text-transform: uppercase;
    width: 8rem;
    color: white;
    font-weight: bolder;   
}

.btn-submit:hover{
    color: var(--color-rojoVino);
    border: 0.5px solid var(--color-rojoVino);
    font-weight: bolder;
    background-color: rgba(255, 255, 255, 0.5);
    transition: 0.6s all;
}


/*check de terminos y condiciones*/
.check{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    width: 88%;
}
.check label{
    margin-right: 10px;
}
.check input[type = "checkbox"]{
    position: relative;
    /*bottom: 1px; */
    -webkit-appearance: none;
    appearance: none;
    width: 50px;
    height: 23px;
    border: 2px solid #d9d9d9;
    outline: none;
    border-radius: 30px;
    transition: 0.3s;
}
.check input[type = "checkbox"]::before{
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    width: 17px;
    height: 17px;
    background: #cccccc;
    border-radius: 50%;
    transition: 0.3s ease;
}
.check input[type = "checkbox"]:checked:before{
    transform: translateX(120%);
    background: #3399ff;
}
.check input[type = "checkbox"]:checked{
    border-color: #3399ff;
}


.register .check{ /*especificidad*/
    width: 100%;
}

/*Media queries*/
/*Tablet*/

@media screen and (min-width: 475px){
    .input-container,
    .button-container{
        width: 80%;
    }
    .form-container{
        width: 75%;        
    }
    /*checkbox terminos y condiciones*/
    .check input[type = "checkbox"]:checked:before{
        transform: translateX(27px);
    }    
}

@media screen and (min-width: 768px){
    .input-container,
    .button-container{
        width: 80%;
    }
    .form-container{
        width: 50%;        
    }
}
/*Desktop*/
@media screen and (min-width: 1000px){
    .input-container,
    .button-container{
        width: 80%;
    }
    .form-container{
        width: 50%;        
    }
}