@import url("header.css");
@import url("productCart.css");
@import url("productDetail.css");
@import url("register.css");
@import url("viewAdmin.css");
@import url("footer.css");
@import url("tienda.css");
@import url("carouselTienda1.css");
@import url("carouselTienda2.css");
@import url("login.css");
@import url("home.css");
@import url("index.css");
@import url("carrusel.css");
@import url("aboutUs.css");
@import url("politicaDeDevolucion.css");

:root{
    --color-fondo-main: gainsboro;
    --color-grisOscuro: #5C5A5A;
    --color-rojoVino: #56070C;
    --color-grisBotones: #C4C4C4;
    --color-fondoFutter: #383737;
}
