body.home{

    background-color: black;
}
 .body-tienda{
    margin-top: 0;
} 
.frase p{
    font-size: 14px;
}

.main-tienda{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
/*frase*/
.frase{
    margin-top: 10px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.frase p{
    color: #ffffff;
    font-size: 16px;
}
.frase h4{
    color: #ffffff;
    font-size: 22px;
    font-weight: bolder;
}

.frase hr{
    width: 80%;
    height: 2px;
    align-self: center;
    background: var(--color-rojoVino); 
    margin-bottom: 20px;   
}

/*filtro de productos*/
/*Ordenar por: */
div.filtros{
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-bottom: 20px;
}
.filtro-de-productos{
    margin: 0 20px 10px 30px;
}
.filtro-de-productos span{
    font-weight: bolder;
    color: #ffffff;
}
.filtro-de-productos select{
    font-weight: bolder;
    background-color: var(--color-grisBotones);
    height: 32px;
}


/* Filtrar por categoria */
/* .filtros ul,
.tipo ul li{
    list-style: none;
}

.categorias-principales ul.category{
    background-color: rgba(169,169,169,0.8);
    padding: 7px 10px;
    border-radius: 2px;
    position: relative;
    margin-right: 8px;
}
.categorias-principales ul.category li a{
    color: #ffffff;
    font-weight: bolder;
}
ul.tipo{    
    background-color: rgba(169,169,169,0.7);
    display: none;
    position: absolute;    
    z-index: 100;
    height: 120px;
}
ul.tipo li{    
    line-height: 30px;
}
ul.category:hover  ul.tipo{
    display:block;
} */

/*-----------------------MAIN---------------------*/
section.products{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*producto y su descripcion (article)*/
.products .product-container{
    background-color: var(--color-grisBotones);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 6px;
    width: 280px;
    margin-bottom: 25px;
}
/*imagen del producto*/
.products .product-container a{
    width: 96%;
}
 .imagen-producto{
    width: 99%;
    height: 15rem;
    border-radius: 4px;
    margin-bottom: 7px;
}
/*etiqueta de descuento*/
.products .product-container .descuento-porcentaje{
    background-color: var(--color-rojoVino);
    border-radius: 0 4px;
    color: white;
    font-size: 0.8rem;
    height: 34px;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
}
/*imagen de una caja*/
.products .product-container .caja-de-vino{
    position: absolute;
    top: 48%;
    right: 7%;
}
.caja-de-vino .caja{
    width: 50px;
    height: 50px;
}
.caja-de-vino .cantidad-vinos{
    width: 16px;
    height: 16px;
    position: absolute;
    top: 23.5px;
    right: 29px;
}

/*descripcion producto*/
.products .product-container .descripcion-producto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products .product-container .descripcion-producto .precio-por-caja{
    font-size: 13px;
    color: var(--color-rojoVino);
    margin-bottom: 6px;
}
.products .product-container .descripcion-producto .nombre-producto{
    font-size: 18px;
    text-align: center;
    margin-bottom: 8px;
    height: 40px;
}

/*descuento y precio*/
.products .product-container .descuento-y-precio{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin-bottom: 7px;
}
.products .product-container .descuento-y-precio .descuento{
    margin-right: 12px;
    text-decoration: line-through;
}
.products .product-container .descuento-y-precio .precio{
    color: var(--color-rojoVino);
    font-size: 18px;
}

/*botón agregar a carrito*/

.products .product-container .agregar-producto-al-carrito{
    background-color: var(--color-rojoVino);
    border-radius: 1.5rem; 
    box-shadow: -5px -5px 10px rgb(255, 255, 255, 0.7);   
    color: white;
    cursor: pointer;
    font-weight: bold;
    height: 2.2rem;
    text-transform: uppercase;
    width: 6.5rem; 
    margin-bottom: 8px;
}
.products .product-container .agregar-producto-al-carrito:hover{
    transition: 1s all;
    background-color: rgba(255, 255, 255, 0.5);
    color: var(--color-rojoVino);
    border: 0.5px solid var(--color-rojoVino);
    font-weight: bolder;
}
/*lo que ofece monsape MOBILE*/
.monsape-ofrece{
    display: none;
}

/*SLIDER MOBILE*/
section.carousel-container1{
    margin: 20px;
    padding: 30px;
    border-radius: 2%;
    background-color: rgba(145, 137, 137, 0.3);
}
.slides1 .envio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 10px;
}
.slides1 .envio p{
    color: #ffffff;
    margin-bottom: 10px;
}

.slides1 .tarjetas-credito{
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

.slides1 .tarjetas-credito .tarjetas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.slides1 .satisfaccion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 10px;
}
.slides1 .satisfaccion p{
    color: #ffffff;
    margin-bottom: 10px;
}

.slides1  img{
    width: 40px;
    height: 40px;
    color: #ffffff
}


/*------------------------------- MEDIA QUERIES -------------------------------*/

/*578px*/
@media(min-width: 578px){
    .frase h4{
        font-size: 20px;
    }
    .frase p{
        font-size: 16px;
        margin: 0 auto;
        width: 84%;
    }
    .main-tienda{
        display: flex;
        align-items: center;
        justify-content: center;
    }
   
    /*filtro de productos*/
    /*Ordenar por: */
    
    .filtro-de-productos{
        margin: 0 20px 10px 50px;
    }
    .filtro-de-productos select{
        height: 34px;
        width: 180px;
    }
    .filtro-de-productos select option{
        text-align: center;
    }
    
    /* Filtrar por categoria */    

    /* .categorias-principales ul.category{
        background-color: rgba(169,169,169,0.8);
        padding: 7px 10px;
        border-radius: 2px;
        position: relative;
        margin-right: 50px;
    }
    .categorias-principales ul.category li a{
        color: #ffffff;
        font-weight: bolder;
    }
    ul.tipo{    
        background-color: rgba(169,169,169,0.7);
        display: none;
        position: absolute;    
        z-index: 100;
        height: 120px;
    }
    ul.tipo li{    
        line-height: 30px;
    }
    ul.category:hover  ul.tipo{
        display:block;
    } */
    /*-----------------------MAIN---------------------*/
    /*producto y su descripcion (article)*/
    .products .product-container{    
        width: 270px;
        margin-bottom: 25px;
    }  
    
    /*-----------------------MAIN---------------------*/
    section.products{
        width: 96%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-left: 10px;
    }    
   
    .products .product-container .descripcion-producto .precio-por-caja{
        font-size: 14px;
    }
   
    /*botón agregar a carrito*/
    
    .products .product-container .agregar-producto-al-carrito{
        height: 2.3rem;
        width: 6.6rem;    
    }
    /*lo que ofece monsape MOBILE*/
    .monsape-ofrece{
        background-color: rgba(169,169,169,0.2);
        display: none;
    }
    
    /*SLIDER MOBILE*/
    section.carousel-container1{
        margin: 20px 12%;
        padding: 30px;
        border-radius: 2%;
        background-color: rgba(145, 137, 137, 0.3);
    }
    .slides1 .envio p,
    .slides1 .tarjetas-credito p,
    .slides1 .satisfaccion p{
        color: white;
        font-size: 20px;
    }
    .slides1 .envio .camion img,
    .slides1 .tarjetas-credito .tarjetas img,
    .slides1 .satisfaccion .copa-con-vino img{
        width: 60px;
        height: 50px;
    }
    
    .slides1 .tarjetas-credito{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 70px;
        justify-content: space-between;
    }
    
    .slides1 .tarjetas-credito .tarjetas{
        grid-template-columns: 0.5fr 0.5fr 0.5fr;        
    }
}

/*.............TABLET 768px...............*/

@media(min-width: 768px){
    .frase h4{
        font-size: 24px;
    }
    .frase p{
        font-size: 20px;
    }
    .main-tienda{
        display: flex;
        align-items: center;
        justify-content: center;
    }  
 
    /*-----------------------MAIN---------------------*/
    section.products{
        width: 98%;
    }
    /*producto y su descripcion (article)*/
    .products .product-container{       
        width: 246px;
    }
    /*lo que ofece monsape MOBILE*/
    .monsape-ofrece{
        display: none;
    }
    
    /*SLIDER MOBILE*/
    section.carousel-container1{
        margin: 20px 14%;
        padding: 30px;
        border-radius: 2%;
        background-color: rgba(145, 137, 137, 0.3);
    }
    .slides1 .envio p,
    .slides1 .tarjetas-credito p,
    .slides1 .satisfaccion p{
        font-size: 20px;
    }
    .slides1 .envio .camion img,
    .slides1 .tarjetas-credito .tarjetas img,
    .slides1 .satisfaccion .copa-con-vino img{
        width: 60px;
        height: 50px;
    }
    span.dot1{
        margin-right: 10px;
        width: 15px;
        height: 15px;
    }
}

/*.............DESKTOP 1024px...............*/

@media(min-width: 1024px){
    .frase{
        height: 150px;
        margin-top: 30px;
    }
    .frase h4{
        font-size: 26px;
    }
    .frase p{
        font-size: 22px;
    }    
   
    /*filtro de productos*/

    /*-----------------------MAIN---------------------*/
    section.products{
        width: 98%;
    }
    /*producto y su descripcion (article)*/
    .products .product-container{                
        width: 240px;
    }
        
    /*SLIDER MOBILE*/
    .carousel-container1,
    .dots1{
        display: none;
    }

    /*lo que ofece monsape MOBILE*/
    .monsape-ofrece{
        display: grid;
        grid-template-columns: repeat(3, 33%);
        gap: 18px;
        margin: 30px 25px;
        margin: 20px;
        padding: 30px;
        border-radius: 2%;
        background-color: rgba(145, 137, 137, 0.3);
    }
    
    .envio,
    .tarjetas-credito,
    .satisfaccion{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        border-radius: 2%;
        background-color: rgba(145, 137, 137, 0.5);
    }

    .envio p,
    .tarjetas-credito p,
    .satisfaccion p{
        color: white;
        font-size: 18px;
    }
    .envio .camion img,
    .tarjetas-credito .tarjetas img,
    .satisfaccion .copa-con-vino img{
        width: 60px;
        height: 50px;
        margin-top: 5px;
    }    
    .tarjetas-credito .tarjetas{
        grid-template-columns: 0.5fr 0.5fr 0.5fr;        
    }
}

/*.............DESKTOP 1200px en adelante...............*/

@media(min-width: 1200px){
    
    .frase h4{
        font-size: 30px;
    }
    .frase p{
        width: 70%;
        margin: 0 auto;
    }
     
    .filtro-de-productos select option,
    .categorias-principales select option{
        font-size: 16px;
    }
    
    /*-----------------------MAIN---------------------*/
    section.products{
        width: 98%;
    }
    /*producto y su descripcion (article)*/
    .products .product-container{
        max-width: 260px;        
        width: 230px;
    }
}   