<!DOCTYPE html>
<html lang="en">
   <%- include('partials/head') %> 
<body>
    <%- include('partials/header') %> 
   
<main class="about">
  <div class="first-cont">
<h1>LA BODEGA</h1>
<p class="bodega">Soñamos el tiempo y lo encontramos. <br> Tenemos historia y tradición, pero sobre todo, futuro.</p>
</div>

<div class="second">
  <h2 class="us">NUESTRA HISTORIA</h2>
</div>
<div class="history">
  <p>“Labor y perseverancia” fue el lema que guió a Felipe MONSAPE desde el comienzo y que marcó a fuego el devenir de sus vinos hasta convertirlos en sinónimo de la más alta calidad. Siguiendo su espíritu innovador, hacia 1925 la bodega comienza a plantar viñedos en el Valle de Uco. A partir de esas plantaciones pioneras la región se ha ido consolidando como uno de los principales centros vitivinícolas de Mendoza. Durante la década del 90 las instalaciones originales de La Rural en Coquimbito son renovadas completamente, incorporando tecnología de punta a la estructura que funcionaba desde el siglo XIX. En ese mismo predio se encuentra hoy en día el Museo del Vino, donde los visitantes pueden conocer los primeros pasos de don Felipe MONSAPE en la producción de vinos y ver la evolución de las técnicas y de los mecanismos de trabajo tradicionales. En línea con el afán de superación y excelencia de su fundador, en 2008 comienza a construirse la planta de Monsape Wines en Tupungato. Allí se elaboran actualmente las líneas Felipe Monsape, Antología, Apartado, Colección Rutini, Encuentro y Trumpeter. Estas fincas abarcan más de 400 hectáreas a una altitud entre 1.050 y 1.200 metros sobre el nivel del mar. A esta superficie se agregan otras 120 hectáreas de campos en vías de implantación de vides, que ampliarán las posibilidades de producción de vinos únicos, cuidados y potenciados desde su origen</p>
<div class="history-logo">
  <h1>MONSAPE</h1>
  <img src="/img/logomon.svg" alt="">
</div>
<hr>
  <div class="second">
    <h2 class="us">NUESTRA VINIFICACION</h2>
  </div>
  <p>La nueva planta de Monsape es parte de un proyecto que se concretará en distintas etapas. Ya se ha completado el 70% de las obras: las instalaciones de producción, el área de recepción de uvas, las prensas, los tanques de acero inoxidable y nuevas piletas de concreto en estilo tradicional. Hoy en día se producen 4 millones de litros de los 6 millones que se espera lograr. Contamos con tecnología de última generación para potenciar y complementar el afán de superación de nuestro enólogo y su equipo. Se han instalado piletas de concreto de forma cúbica que permiten una mayor extracción de polifenoles. Cada una de estas piletas tiene 15.000 litros de capacidad. También disponemos de tanques de fermentación tronco-cónicos, diseñados especialmente para separar con más eficacia las pieles trituradas de la delgada capa de líquido que rodea al grano y que intensifica el color, el sabor y los aromas. Actualmente hay 2000 barricas de roble en funcionamiento y se espera llegar a las 5000. Con la obra finalizada esperamos producir 500.000 litros de espumante por año.</p>
</div>
  

</main>

<%- include("./partials/footer") %>  
</body>
</html>