<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login Mobile</title>
        <script src="https://kit.fontawesome.com/7968cc1663.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Rosarivo&display=swap"
        rel="stylesheet">
        <!-- Fuente cinzel probando -->
        <!-- Fuente cinzel probando -->
        <link href="https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&display=swap" rel="stylesheet">
    
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rosarivo&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="./stylesheets/styles.css">
    </head>
<body>
    <header>
        <!-- VENTANA MODAL MOBILE -->
        <div class="modal-burger">
            <button onclick="openModal()">
                <div class="burger">
                    <img src="./img/Vector.svg" alt="">
            </button>
        </div>
        </div>
        <div class="modal" id="modalAdd">
            <div class="modal-conteiner">
                <div class="close-modal" onclick="closeModal()">X</div>
                <!-- <div class="logo-interno"><img src="./img/logomon.svg" alt=""></div> -->
                <a href="#">INICIO</a>
                <a href="#">PRODUCTOS</a>
                <a href="#">COMO COMPRAR</a>
                <a href="#">QUIENES SOMOS</a>
                <a href="#">INICIAR SESION</a>
                <a href="#">REGISTRATE</a>
                <!-- <button onclick="closeModal()">Cancelar</button> -->
            </div>
        </div>
        <script src="./javascripts/detail.js"></script>
        <!-- FIN VENTANA MODAL MOBILE -->
        <!-- Lupa para desktop -->
        <div class="buscador">
            <input type="text" placeholder="Buscador" class="buscador">
            <img src="./img/lupa.svg" alt="">
        </div>
        <!-- ------------------------- -->
        <!-- titulo y logo -->
        <div class="logo">
            <h1>MONSAPE</h1>
            <img src="./img/logomon.svg" alt="">
        </div>
        <!-- ------------------- -->
        <!-- anclas de desktop -->
        <div class="anclas">
            <!--  -----------------MODAL DESKTOP------------- -->
            <button onclick="openModal2()">Ingresar</button>
            <div class="modal2" id="modalAdd2">
                <div class="modal-container2">
                    <div class="close-modal2" onclick="closeModal2()">X</div>
                    <h1>INICIAR SESION</h1>
        <label for="email">Ingrese su correo electronico:</label>
        <input type="email" name="tel" id="email">
        <label for="password">Ingrese su contraseña:</label>
            <input type="password" name="password" id="password">
        <p>¿Aún no tienes cuenta? <a href="#">REGISTRATE</a> </p>
            <button>INICIAR SESION</button>   
                </div>
            </div>
            <script src="./javascripts/detail2.js"></script>
            <!-------------- MODAL DESKTOP ENDS------------>
            <button>Registrarse</button>
            <img src="./img/carrito-de-compras (1) 1.svg" alt="">
        </div>
    </header>
    <!-- nav de mobile -->
    <nav class="header-nav">
        <div class="search-mobile">
            <form action="/">
                <input type="search" placeholder="Buscador" class="search">
                <button><img src="./img/lupa.svg"alt=""></button>
            </form>
        </div>
        <div class="product-nav">
            <h3>PRODUCTOS</h3><i class="fas fa-chevron-down"></i>
        </div>
    </nav>
    <nav class="desktop-nav">
        <a href="#">INICIO</a>
        <a href="#">PRODUCTOS</a>
        <a href="#">COMO COMPRAR</a>
        <a href="#">QUIENES SOMOS</a>
        <a href="#">POLITICA DE DEVOLUCION</a>
        <a href="#">CONTACTO</a>
    </nav>
<main class="about">
<div class="about-1">
<img src="/img/uverta 1.png" alt="">
<h1>NUESTRO EQUIPO</h1>
</div>
<div class="about-text">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat sed minus veritatis optio, pariatur quas suscipit libero nihil vitae modi fugiat vel sapiente ipsa corporis debitis tempora! Corporis, pariatur quo.</p>
</div>
<section class="about-container">
  <div class="a-box" id="aime">
    <div class="img-container">
      <div class="img-inner">
        <div class="inner-skew">
          <img src="./img/link1.jpg">
        </div>
      </div>
    </div>
    <div class="text-container">
      <h3>Aimé Agustina Pelozo</h3>
      <div>
        Aspirante a Web Developer Full Stack, motivada hace dos años por Lorenzo. El diseño y el progreso personal son mis herramientas de soporte. Algún dia aprenderé a programar.
    </div>
    </div>
  </div>

  <div class="a-box" id="guillermo">
    <div class="img-container">
      <div class="img-inner">
        <div class="inner-skew">
          <img src="./img/link1.jpg">
        </div>
      </div>
    </div>
    <div class="text-container">
      <h3>Guillermo Sanabria</h3>
      <div>
        Desarrollador Full Stack con Node JS y estudiante de primer año de la carrera de Programación y Análisis de Sistemas. Actualmente vivo en la ciudad de Posadas, Misiones. Me siento muy motivado por el curso, tanto es así que cada día estoy más convencido en desarrollarme profesionalmente en el mundo de la programación.
    </div>
  </div>
  </div>
  <div class="a-box" id="federico">
    <div class="img-container">
      <div class="img-inner">
        <div class="inner-skew">
          <img src="./img/link1.jpg">
        </div>
      </div>
    </div>
    <div class="text-container">
      <h3>Federico Montenegro</h3>
      <div>
        Web Developer Trainee. Me apasiona el Desarrollo de Software tanto del lado del servidor, como del cliente. Mi enfoque está orientado a conquistar nuevos aprendizajes y experiencias que contribuyan a mi desarrollo personal. 
    </div>
  </div>
  </div>
</section>
</main>  
<footer></footer>  
</body>
</html>