<!DOCTYPE html>
<html lang="en">
   <%- include('partials/head') %> 
<body>
    <%- include('partials/header') %> 
   
<main class="about">
  <div class="first-cont">
<h1>LA BODEGA</h1>
<p class="bodega">Soñamos el tiempo y lo encontramos. <br> Tenemos historia y tradición, pero sobre todo, futuro.</p>
</div>
<h2 class="us">NUESTRA HISTORIA</h2>
<div class="second">
  <img src="/img/AbourText.png" alt="">
  <div class="infoS">
  <p class="historia">
    Cumplimos 20 años de nuestra primera añada de espumantes y 120 de tradición. Todo comienza en 1999 cuando se recuperan las instalaciones de la bodega fundada a fines del Siglo XIX por Bernardo Martínez, abuelo de nuestro enólogo, Alejandro Martínez Rosell.
   </p>
  </div>
</div>

</main>

<%- include("./partials/footer") %>  
</body>
</html>