<!DOCTYPE html>
<html lang="en">
<%- include("partials/head.ejs") %> 
<body>
    <%- include("partials/header.ejs") %> 
    <main>
        <p>estoy en contacto</p>
        <form action=""></form>
    </main>
    <%- include("partials/footer.ejs") %> 
</body>
</html>