<!DOCTYPE html>
<html lang="es">

<%- include("./partials/head") %>

<body>
    <!-- Header start here -->
    <%- include("./partials/header") %>

    <!--REGISTRO-->
    <main class="main-register">
        <div class="form-container">
            <h2>Registro</h2>
            <hr>
            <form action="" method="">
                <div class="form">
                    <div class="input-container">
                        <label for="email">Dirección de Correo Electrónico:</label>
                        <input class="input-style" type="email" name="email">
                        <span class="error-message">Debe ingresar su email</span>
                    </div>
                    <div class="input-container">
                        <label for="nombreCompleto">Nombre y apellido:</label>
                        <input class="input-style" type="text" name="nombreCompleto">
                        <span class="error-message">Debe ingresar su nombre y apellido</span>
                    </div>
                    <div class="input-container">
                        <label for="password">Contraseña:</label>
                        <input class="input-style" type="password" name="password">
                        <span class="error-message">Debe ingresar su contraseña</span>
                    </div>
                    <div class="input-container">
                        <label for="password2">Repetir contraseña:</label>
                        <input class="input-style" type="password" name="password2">
                        <span class="error-message">Debe re-ingresar su contraseña</span>
                    </div>                    
                    <div class="check">
                        <label for="terms"> Aceptar <a href="">términos y condiciones</a> </label>
                        <input type="checkbox" name="terms" id="recordar">
                        <span class="error-message">Debe aceptar los términos y condiciones</span>
                    </div>
                    <div class="button-container">
                        <span class="error-message">Credenciales inválidas</span>
                        <button type="submit" class="btn btn-submit">Registrarse</button>
                    </div>
                    <span>¿Ya tenés una cuenta? <a href="login.html">iniciá sesión</a></span>
                </div>
            </form>
        </div>
    </main>
    <%- include("./partials/footer") %>
</body>

</html>