<!DOCTYPE html>
<html lang="es">

<%- include("../partials/head.ejs")%>

    <body class="body-productCart">
        <!-- Header start here -->
        <%- include("../partials/header.ejs")%>

            <!-- MAIN -->
            <label for="">
                <div class="cart-data-view">
                    <main class="main-productCart">
                        <section class="section-productCart">
                            <h2 class="h2-product-cart" display="none">MI CARRITO</h2>
                            <!-- Columnas -->
                            <div class="column">
                                <p>PRODUCTO</p>
                                <p>SUBTOTAL</p>
                            </div>
                            <!-- Articulos -->
                            <div id="itemsCart">
                            </div>
                            <template id="template-carrito">
                                <article class="art-cart">
                                    <!-- <th scope="row">id</th> -->
                                    <div class="wine-x"><img class="wine-image" src="" alt=""></div>
                                    <div class="detail detail-p">
                                        <p id="nombre">Titulo</p>
                                        <p id="precio">Precio</p>
                                        <div class="cant" >
                                            <input type="button" name="menos" class="menos"
                                            value="-">
                                            <input type="text" name="cantidad" class="cantidad"
                                            value="">
                                            <input type="button" name="mas" class="mas" value="+">
                                        </div>
                                        
                                    </div>
                                    <div class="subtotal" id="footer">
                                        <p>$2.500</p>
                                        <img id="" class="tachito" src="/img/tachito.png" alt="carrito">
                                    </div>
                                </article>
                            </template>
                            
                    
                            <!-- <template id="template-footer">
                                <th scope="row" colspan="2">Total productos</th>
                                <td>10</td>
                                <td>
                                    <button class="btn btn-danger btn-sm" id="vaciar-carrito">
                                        vaciar todo
                                    </button>
                                </td>
                                <td class="font-weight-bold">$ <span>5000</span></td>
                            </template> -->
                                    <!-- Subtotal (sin envío) -->
                                    <div class="sub-sin-envio">
                                        <p>Subtotal:</p>
                                        <p class="subtotal-product">$0</p>
                                    </div>

                            <!-- Subtotal (sin envío) -->
                            <!-- <div class="sub-sin-envio">
                                <p id="subtotal-p">Subtotal:</p>
                                <p id="subtotal-value">$0</p>
                            </div> -->
                            <!-- Métodos de envío -->
                            <!-- <form action="" method="GET">
                            <div class="met-envio">
                                <p><img src="/img/camioncito.png" alt="camioncito"> Métodos de
                                    envío
                                </p>
                                <div class="calcular">
                                    <input type="text" name="codigo-postal" id="codigo-postal"
                                    placeholder="Tu código postal">
                                    <input type="button" name="calcular" id="calcular"
                                    value="CALCULAR">
                                </div>
                            </div>
                        </form> -->

                            <div class="total">
                                <h4>Total:</h4>
                                <h4>$5.000</h4>
                            </div>
                            <div class="fin">
                                <a href="/products/tienda"><input type="button" name="mas" id="mas"
                                        value="Ver más productos"></a>
                                <input type="submit" name="compra" id="compra" value="REALIZAR COMPRA">
                            </div>
                        </section>
                    </main>

                    <!--FOOTER-->
                    <%- include("../partials/footer.ejs")%>
                    <script src="/javascripts/productCartScript.js" defer></script>
    </body>

</html>





<!-- <!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/carrito.css">
    <title>Carrito</title>
</head>
<body>
    <h2>Carrito de compras</h2>
    <div class="column">
        <p>PRODUCTO</p>
    </div>
    <article>
        <div class="wine-x"><img src="../public/images/vino-x.png" alt=""></div>
        <div class="detail">
            <p id="nombre">Nombre del vino</p>
            <p id="precio">$2.500</p>
            <div class="cant">
                <input type="button" name="menos" id="buttons" class="menos" value="-">
                <input type="text" name="cantidad" id="buttons" class="cantidad" value="0">
                <input type="button" name="mas" id="buttons" class="mas" value="+">
            </div>
        </div>
    </article>
    <div class="subtotal">
        <p>SUBTOTAL</p>
        <p>$2.500</p>
        <img src="../public/images/tachito.png" alt="tachito">
    </div>

    <article>
        <div class="wine-x"><img src="../public/images/vino-x.png" alt=""></div>
        <div class="detail">
            <p id="nombre">Nombre del vino</p>
            <p id="precio">$2.500</p>
            <div class="cant">
                <input type="button" name="menos" id="buttons" class="menos" value="-">
                <input type="text" name="cantidad" id="buttons" class="cantidad" value="0">
                <input type="button" name="mas" id="buttons" class="mas" value="+">
            </div>
        </div>
    </article>
    <div class="subtotal">
        <p>SUBTOTAL</p>
        <p>$2.500</p>
        <img src="../public/images/tachito.png" alt="tachito">
    </div>

    <div class="met-envio">
        <p><img src="../public/images/camioncito.png" alt="camioncito"> Métodos de envío</p>
        <div class="calcular">
            <input type="text" name="codigo-postal" id="codigo-postal" value="Tu código postal">
            <input type="button" name="calcular" id="calcular" value="CALCULAR">
        </div>
    </div>
    <div class="total">
        <h2>TOTAL:</h2>
        <h2>$5.000</h2>
    </div>
    <div class="fin">
        <input type="button" name="mas" id="mas" value="Ver más productos">
        <input type="submit" name="compra" id="compra" value="REALIZAR COMPRA">
    </div>
</body>
</html> -->