<div class="body-modal">
<input type="checkbox" id="cerrar-age">
<label for="cerrar" id="btn-cerrar-age">X</label>
<div class="modal-age">
    <div class="contenido-age">
        <img src="/img/acidez.png" alt="">
    </div>
</div>
<div class="main-modal">
    <h1>ventana modal de age</h1>
    <h3>subtitle</h3>
</div>
</div>