<div class="cant">
    <input type="button" name="menos" id="buttons" class="menos"
        value="-">
    <input type="text" name="cantidad" id="cantidad" class="cantidad"
        value="0">
    <input type="button" name="mas" id="buttons" class="mas" value="+">
</div>
<script src="/javascripts/btns-quantity-products-script.js" defer></script>