<footer>
    <div class="footer-description">
        <p>© 2021. Bodegas Monsape - Mendoza, Argentina.</p>
        <p>Beber con moderación. Prohibida su venta a menores de 18 años.</p>            
    </div>
    <div class="social-media-icons">
        <img src="/img/facebook.svg" alt="icono de facebook">
        <img src="/img/instagram.svg" alt="icono de instagram">
        <img src="/img/pinterest.svg" alt="icono de pinterest">
    </div>
</footer>