<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <!-- Fonts -->
    <script src="https://kit.fontawesome.com/7968cc1663.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Rosarivo&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rosarivo&display=swap" rel="stylesheet">
    <!-- Javascript -->
    <script src="./javascripts/detail.js" defer></script>
    <script src="./javascripts/detail2.js" defer></script>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <script src="/javascripts/carouselTienda1.js" defer></script>
    <script src="/javascripts/carouselTienda2.js" defer></script>
</head>