<header class="prueba">
    <!-- VENTANA MODAL MOBILE -->
    <div class="modal-burger">
        <button onclick="openModal()">
            <div class="burger">
                <img src="/img/Vector.svg" alt="">
        </button>
    </div>
    </div>
    <div class="modal" id="modalAdd">
        <div class="modal-conteiner">
            <div class="close-modal" onclick="closeModal()">X</div>
            <!-- <div class="logo-interno"><img src="./img/logomon.svg" alt=""></div> -->
            <a href="/home">INICIO</a>
            <a href="/products/tienda">PRODUCTOS</a>
            <a href="#">COMO COMPRAR</a>
            <a href="/aboutUs">QUIENES SOMOS</a>
            <% if(session.user){ %> 
                <a href="/users/login">CARRITO DE COMPRAS/a>
                <% }else{ %> 
            <a href="/users/login">INICIAR SESION</a>
            <a href="/users/register">REGISTRATE</a>
            <% } %> 
            <!-- <button onclick="closeModal()">Cancelar</button> -->
        </div>
    </div>
    <!-- FIN VENTANA MODAL MOBILE -->
    <div class="linksFirst">
        <a href="/aboutUs">NOSOTROS</a>
        <!-- <a href="#">PRODUCTOS</a> -->
        <%- include("menuDesplegableProducts")%>
        <a href="/products/tienda">TIENDA</a>
    </div>
    <a href="/home">
        <div class="logoCenter">
            <img src="/img/logomon.svg" alt="">
            <h1>MONSAPE</h1>
        </div>
    </a>
    <div class="linksLast">
        <div class="linksLast">
            <div class="loginH">
                <button id="ing" onclick="openModal2()"><img src="/img/banners/user.png" alt=""> <br>
                    <p>Ingresá</p>
                </button>
                <div class="modal2" id="modalAdd2">
                    <div class="modal-container2">
                        <div class="close-modal2" onclick="closeModal2()">X</div>
                        <h1>INICIAR SESION</h1>
                        <label for="email">Ingrese su correo electronico:</label>
                        <input type="email" name="tel" id="email">
                        <label for="password">Ingrese su contraseña:</label>
                        <input type="password" name="password" id="password">
                        <p>¿Aún no tienes cuenta? <a href="/users/register">REGISTRATE</a> </p>
                        <button>INICIAR SESION</button>
                    </div>
                </div>
            </div>
            <div class="carroDeCompras">
                <input class="cart-data-drop-down" type="checkbox" name="cart-data-drop-down" id="cart-data-drop-down">
                <label class="cart-data-label-drop-down" for="cart-data-drop-down"><img src="/img/carrito-de-compras (1) 1.svg"
                        alt="carrito">
                    <div class="cart-data-modal-view-drop-down">
                        <%- include("mainProductCartDesplegable") %>
                    </div>
                </label>
            </div>
        </div>

    </div>
    <script src="/javascripts/header.js"></script>
</header>