<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/headerAdmin.css">
    <link rel="stylesheet" href="/stylesheets/general.css">
    <link rel="stylesheet" href="/stylesheets/formAdmin.css">
    <link rel="stylesheet" href="/stylesheets/adminProducts.css">
    <link rel="stylesheet" href="/stylesheets/adminUsers.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Rosarivo&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rosarivo&display=swap" rel="stylesheet">
    <title><%= title %> </title>
</head>