<header class="prueba">
    <!-- VENTANA MODAL MOBILE -->
    <div class="modal-burger" >
        <button onclick="openModal()">
            <div class="burger" >
                <img src="/img/Vector.svg" alt="">
            </div>
        </button>
    </div>
    <div class="modal" id="modalAdd">
        <div class="modal-conteiner">
            <div class="close-modal" onclick="closeModal()">X</div>
            <!-- <div class="logo-interno"><img src="./img/logomon.svg" alt=""></div> -->
            <a id="headerAs" href="/">INICIO</a>
            <a id="headerAs" href="/products/tienda">PRODUCTOS</a>
            <a id="headerAs" href="#">COMO COMPRAR</a>
            <a id="headerAs" href="/aboutUs">QUIENES SOMOS</a>
            <% if(session.user && session.user.rol == "ROL_ADMIN" ){ %> 
                <a id="headerAs" href="/admin/products">ADMINISTRAR</a>
                <a id="headerAs" href="/users/logout">CERRAR SESION</a>
            <% } else if(session.user){ %> 
                <a id="headerAs" href="/products/cart">CARRITO DE COMPRAS</a>
                <a id="headerAs" href="/users/logout">CERRAR SESION</a>
                <% }else{ %> 
            <a id="headerAs" href="/users/login">INICIAR SESION</a>
            <a id="headerAs" href="/users/register">REGISTRATE</a>
            <% } %> 
            <!-- <button onclick="closeModal()">Cancelar</button> -->
        </div>
    </div>
    <!-- FIN VENTANA MODAL MOBILE -->
    <div class="linksFirst">
        <% if(session.user && session.user.rol == "ROL_ADMIN" ){ %> 
            <a id="headerAs" href="/admin/products">PRODUCTOS</a>
            <a id="headerAs" href="/admin/usersTable">USUARIOS</a>
         <% } else{  %>
        <a id="headerAs" href="/aboutUs">NOSOTROS</a>
        <!-- <a href="#">PRODUCTOS</a> -->
        <%- include("menuDesplegableProducts")%>
        <% }  %>
        <a id="headerAs" href="/products/tienda">TIENDA</a>
    </div>
    
    <a id="headerAs" href="/">
        <div class="logoCenter">
            <img src="/img/logomon.svg" alt="">
            <h1>MONSAPE</h1>
        </div>
    </a>
    <div class="linksLast">
        <% if(session.user && session.user.rol == "ROL_ADMIN" ){ %> 
            <a href="/admin/products"><img class="perfil" src="/img/userAdmin.png" alt="" width="25px"></a>
         <% } else if(session.user){  %>
           <!--  <div class="loginH">
               <a href="/users/logout"><img class="logout" src="/img/banners/logout.png" alt=""> <br> <p>CERRAR SESION</p> </a> 
            </div>  -->
            <div class="perfil profile-drop-down">
                <img class="perfil" src="/img/banners/user (2).svg" alt="" width="25px">
                  
                </a> 
            <%- include("./profileMenuDropDown") %> 
             </div>
            <% }else{ %> 
                <div class="loginH">
                    <button id="ing"><img src="/img/banners/login.svg" alt=""> <br>
                        <p>Ingresá</p>
                    </button>
                    <div class="modal2" id="modalAdd2">
                        <!-- <form action="/users/login" method="POST">

                            <div class="modal-container2">
                                <div class="close-modal2" onclick="closeModal2()">X</div>
                                <h1>INICIAR SESION</h1>
                                <label for="email">Ingrese su correo electronico:</label>
                                <input type="email" name="email" id="email">
                                <label for="password">Ingrese su contraseña:</label>
                                <input type="password" name="password" id="password">
                                <p class="login-modal-text">¿Aún no tienes cuenta? <a id="anclaRoja" href="/users/register">REGISTRATE</a> </p>
                                <button type="submit">INICIAR SESION</button>
                            </div>
                        </form> -->
                        <%-  include("../partials/partialLogin") %> 
                    </div>
                </div>
                <% } %> 

            <%- include("mainProductCartDesplegable") %>
         
    </div>
    <script src="/javascripts/header.js"></script>
</header>