<header class="header-admin">
    <div class="logoAdmin">
        <h1>MONSAPE</h1>
        <img src="/img/logomon.svg" alt="">
    </div>
    <nav class="ruteables">
        <ul>
      <li><a href="#">PRODUCTOS</a></li>
      <li><a href="#">USERS</a></li>
      <li><a href="#">OFERTS</a></li>
    </ul>
    </nav>
    <div class="logOut">
       <a href="#"><img src="/img/logout.png" alt=""></a>
    </div>
</header>
<div class="search-admin">
    <form action="/search" method="GET">
    <input name="keywords" type="text" placeholder="Buscador" class="buscador-admin">
    <button type="submit"><i class="fas fa-search"></i></button>
</form>
</div>