
<!-- The Modal -->
<div id="myModal" class="modalAge">

  <!-- Modal content -->
  <div class="modal-content-age">
    <div class="modal-header">
        <img id="logoAge" src="/img/logomon.svg" alt="">
      <h2 class="text-age">Todos son bienvenidos en nuestra mesa</h2>
      <form id="formAge" action="/" method="POST">
        <div class="year">
            <p class="adn">INGRESE SU AÑO DE NACIMIENTO:</p>
            <input type="number" name="year" id="año" placeholder="YYYY">
            <button id="buttonAge" type="submit">Aceptar</button>
        </div>
        <!-- <a href="/home"> -->
        </form>
    </div>

  </div>

</div>
