
<!-- The Modal -->
<div id="myModal" class="modalAge">

  <!-- Modal content -->
  <div class="modal-content-age">
    <div class="modal-header">
        
      <h2 class="text-age">MONSAPE</h2>
      <img id="logoAge" src="/img/logomon.svg" alt="">
      <hr class="hrAge">
      <p class="welcomeTextI">
        TODOS SON BIENVENIDOS EN NUESTRA MESA
      </p>
      <form id="formAge" action="/" method="POST">
        <div class="year">
            <p class="adn">AÑO DE NACIMIENTO:</p>
            <input type="number" name="year" id="año" placeholder="YYYY">
            
        </div>
        <button id="buttonAge" type="submit">Aceptar</button>
        <hr class="hrAge">
        <p class="termsAge">
          Para experimentar MONSAPE usted debe tener la edad legal de compra de alcohol en su páis de residencia. De no existir dicha legislación en su país, para tener acceso a este sitio debe ser mayor de 18 años.
        </p>
        <!-- <a href="/home"> -->
        </form>
    </div>

  </div>

</div>
