<label for="">
    <div class="cart-data-view">
        <label for="cart-data">
            <div class="cart-data-label-btn-close">
                <p>X</p>
            </div>
        </label> 
<main class="main-productCart">
    <section class="section-productCart">
        <h2 class="h2-product-cart">MI CARRITO</h2>
        <!-- Columnas -->
        <div class="column">
            <p>PRODUCTO</p>
            <p>SUBTOTAL</p>
        </div>
        <!-- Articulos -->
        <% for(let i=0; i < 4; i++){ %>
            <article class="art-cart">
                <div class="wine-x"><img src="/img/carrito1.jpg" alt=""></div>
                <div class="detail">
                    <p id="nombre">Nombre del vino</p>
                    <p id="precio">$2.500</p>
                    <div class="cant">
                        <input type="button" name="menos" id="buttons" class="menos"
                            value="-">
                        <input type="text" name="cantidad" id="cantidad" class="cantidad"
                            value="0">
                        <input type="button" name="mas" id="buttons" class="mas" value="+">
                    </div>

                </div>
                <div class="subtotal">
                    <p>$2.500</p>
                    <img class="tachito" src="/img/tachito.png" alt="carrito">
                </div>
            </article>
            <% } %>
                <!-- Subtotal (sin envío) -->
                <div class="sub-sin-envio">
                    <p>Subtotal:</p>
                    <p>$0</p>
                </div>
                <!-- Métodos de envío -->
                <form action="" method="GET">
                    <div class="met-envio">
                        <p><img src="/img/camioncito.png" alt="camioncito"> Métodos de
                            envío
                        </p>
                        <div class="calcular">
                            <input type="text" name="codigo-postal" id="codigo-postal"
                                placeholder="Tu código postal">
                            <input type="button" name="calcular" id="calcular"
                                value="CALCULAR">
                        </div>
                    </div>
                </form>

                <div class="total">
                    <h4>Total:</h4>
                    <h4>$5.000</h4>
                </div>
                <div class="fin">
                    <input type="button" name="mas" id="mas" value="Ver más productos">
                    <input type="submit" name="compra" id="compra" value="REALIZAR COMPRA">
                </div>
    </section>
</main>