<div class="product-nav">
    <input type="checkbox" class="input-productos-check" id="check">
    <label for="check">
        <div class="check-on2">
            <div class="div-item-check-on2">
                <div class="div-item-check-on2 img-item-check-on2">
                </div>
            </div>
            <div class="div-item-check-on2">
                <p class="p-item-check-on2">Colecciones</p>
                <div class="div-item-check-on2 ">
                    <a class="a-item-check-on2" href="/products/search?keywords=Finest">Finest</a>
                    <a class="a-item-check-on2" href="/products/search?keywords=Gala+Collection">Gala Collection</a>
                    <a class="a-item-check-on2" href="/products/search?keywords=Vinos+de+Terroir">Vinos de Terroir</a>
                    <a class="a-item-check-on2" href="/products/search?keywords=Insignia">Insignia</a>
                    <a class="a-item-check-on2" href="/products/search?keywords=Celebración">Celebración</a>
                </div>
            </div>
            <div class="div-item-check-on2">
                <p class="p-item-check-on2">Categorías</p>
                <div class="div-item-check-on2">
                    <a class="a-item-check-on2" href="/products/search?keywords=Blanco">Blancos</a>
                    <a class="a-item-check-on2" href="/products/search?keywords=Tinto">Tintos</a>
                    <a class="a-item-check-on2" href="/products/search?keywords=Espumoso">Espumosos</a>
                </div>
            </div>
            <div class="div-item-check-on2">
                <p class="p-item-check-on2">Variedades</p>
                <div class="div-item-check-on2">
                    <a class="a-item-check-on2" href="/products/search?keywords=Malbec">Malbec</a>
                    <a class="a-item-check-on2" href="/products/search?keywords=Cabernet">Cabernet</a><!-- 
                    <a class="a-item-check-on2" href="">Petit Verdot</a> -->
                    <a class="a-item-check-on2" href="/products/search?keywords=Chardonnay">Chardonnay</a><!-- 
                    <a class="a-item-check-on2" href="">Tanat</a> --><!-- 
                    <a class="a-item-check-on2" href="">Bouchet</a> -->
                    <a class="a-item-check-on2" href="/products/search?keywords=Sauvignon">Sauvignon</a><!-- 
                    <a class="a-item-check-on2" href="">Merlot</a> --><!-- 
                    <a class="a-item-check-on2" href="">Viognier</a>
                    <a class="a-item-check-on2" href="">Riesling</a> -->
                    <a class="a-item-check-on2" href="/products/search?keywords=Pinot">Pinot</a>
                    <a class="a-item-check-on2" href="/products/search?keywords=">Ver más</a><!-- 
                    <a class="a-item-check-on2" href="">Syrah</a> --><!-- 
                    <a class="a-item-check-on2" href="">Gewurztraminer</a> -->
                </div>
            </div>
        </div>
    </label>
    <label for="check" class="productos-check">
        <p>PRODUCTOS </p>
        <i class="fas fa-chevron-down"></i>
    </label>
</div>