<div class="monsape-ofrece">
    <div class="envio">
        <p>ENVIO GRATIS A TODO EL PAIS</p>
        <div class="camion">
            <img src="/img/tienda/camion-de-reparto.svg" alt="camión de reparto">                
        </div>
    </div>
    <div class="tarjetas-credito">
        <p>PAGÁ CON TARJETA DE CREDITO</p>
        <div class="tarjetas">
            <img src="/img/tienda/visa.svg" alt="tarjeta de credito Visa">
            <img src="/img/tienda/maestro.svg" alt="tarjeta de credito Maestro">
            <img src="/img/tienda/paypal.svg" alt="tarjeta con Paypal">
        </div>
    </div>        
    <div class="satisfaccion">
        <p>SATISFACCIÓN GARANTIZADA</p>
        <div class="copa-con-vino">
            <img src="/img/tienda/copa-con-vino.svg" alt="copa con vino">
        </div>
    </div>
</div>