<div class="drop-down-menu-container-profile">
    <ul class="options-drop-down-profile">
        <li id="mp"><a href="/users/profile">Mi Perfil</a></li>
        <li class=opt id="opt">
            Opciones
            <ul class="opt-drop-down opt">
                <li id="qs"><a href="/aboutUs">Quienes somos</a></li>
                <li id="del">Eliminar mi cuenta</li>
            </ul>
        </li>
        <li id="session"><a href="/users/logout">Cerrar sesión</a></li>
    </ul>
</div><!-- 
<script src="/javascripts/profileMenuDropDownScript.js" defer></script> -->