<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/headAdmin") %>
<body>
    <%- include("../partials/headerAdmin") %>
    <main class="main-admin-create">
        <h1>AGREGAR PRODUCTO</h1>
     <div class="create-forms">
         <form class="create" action="/admin/cargaDeProducto" method="POST">
             <div class="inputs-create">
          <label for="nombre">Nombre:</label>
          <input type="text" name="nombre" id="nombre">
             </div>
             <div class="large">
                <label for="descripcion">Descripción:</label>
                <textarea name="descripcion" id="descripcion" cols="30" rows="5"></textarea>
                   </div>
                   <div class="inputs-create">
                     <label for="variedad">Variedad:</label>
                     <input type="text" name="variedad" id="variedad">
                        </div>
                       <div class="inputs-create">
                        <label for="categoria">Categoria:</label>
                        <select name="categoria" id="">
                            <option value="blanco">Blanco</option>
                            <option value="tinto">Tinto</option>
                            <option value="rosado">Rosado</option>
                            <option value="espumante">Espumante</option>
                           
                        </select>
                           </div>
                       <div class="inputs-create">
                        <label for="coleccion">Coleccion:</label>
                        <select name="coleccion" id="">
                            <option value="fines">Fines</option>
                            <option value="galla">Galla</option>
                            <option value="terroir">Terroir</option>
                            <option value="insignia">Insignia</option>
                            <option value="calebracion">Celebración</option>
                        </select>
                           </div>
                           <div class="inputs-create">
                              <label for="stock">Stock:</label>
                              <input type="number" name="stock" id="stock">
                           </div>
                           <div class="large">
                            <label for="maridaje">Maridaje:</label>
                            <textarea name="Maridaje" id="maridaje" cols="30" rows="5"></textarea>
                               </div>
                               <div class="inputs-create">
                                <label for="graduacion">Graduacion Alcoholica:</label>
                                <input type="text" name="graduacionAlcoholica" id="graduacion">
                                <p>%</p>
                                   </div>
                                   <div class="inputs-create">
                                    <label for="acidezTotal">Acidez:</label>
                                    <input type="text" name="acidezTotal" id="acidez">
                                    <p>g/l</p>
                                       </div>
                                       <div class="inputs-create">
                                        <label for="azucarResidual">Azucar Residual:</label>
                                        <input type="text" name="azucarResidual" id="azucarResidual">
                                        <p>g/l</p>
                                           </div>
                                           <div class="temperatura-create">
                                            <label for="temperaturaRecomendada">Temperatura recomendada:</label>
                                            <input type="text" name="temperaturaRecomendada" id="temperaturaRecomendada">
                                               </div>
                                               <div class="inputs-create">
                                                <label for="precio">Precio:</label>
                                                <input type="number" name="precio" id="precio">
                                                   </div>
                                                   <div class="inputs-create">
                                                    <label for="nombre">Descuento:</label>
                                                    <input type="number" name="descuento" id="descuento"><p>%</p>
                                                       </div> 
                                                       <button type="submit">CREAR</button>                             
     </div>
    </main>
</body>
</html>